USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Lender_Count_OCR]    Script Date: 5/29/2018 8:35:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Lender_Count_OCR] 

AS 
SET NOCOUNT ON ; 


SELECT 
 LE.CODE_TX AS LENDER_CODE,
 LE.NAME_TX AS LENDER_NAME,
 COUNT(L.ID) AS UTL_NO_MATCH_RECORD
FROM UTL_MATCH_RESULT UMR
RIGHT JOIN LOAN L 
	ON L.ID = UMR.UTL_LOAN_ID
JOIN LENDER LE 
	ON LE.ID = L.LENDER_ID 
WHERE L.SOURCE_CD = 'OCR'
AND UMR.ID IS NULL
GROUP BY LE.CODE_TX, LE.NAME_TX
ORDER BY LE.CODE_TX
