USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[NO_OCR_Match]    Script Date: 5/29/2018 8:35:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[NO_OCR_Match] 

AS 
SET NOCOUNT ON ; 


SELECT 
 LE.CODE_TX AS LENDER_CODE, 
 LE.NAME_TX AS LENDER_NAME,
 UMR.MATCH_RESULT_CD AS MATCH_RESULT, 
 COUNT(UMR.ID) AS MATCH_COUNT, 
 USER_MATCH_RESULT_CD AS USER_MATCH_RESULT
FROM UTL_MATCH_RESULT UMR
RIGHT JOIN LOAN L 
	ON L.ID = UMR.UTL_LOAN_ID
JOIN LENDER LE 
	ON LE.ID = L.LENDER_ID 
WHERE L.SOURCE_CD = 'OCR'
AND UMR.USER_MATCH_RESULT_CD = 'NO'
GROUP BY LE.CODE_TX,LE.NAME_TX,UMR.MATCH_RESULT_CD, USER_MATCH_RESULT_CD
ORDER BY LE.CODE_TX,UMR.MATCH_RESULT_CD


