USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[OCR MATCH COUNTS]    Script Date: 5/29/2018 8:35:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[OCR MATCH COUNTS] 

AS 
SET NOCOUNT ON ; 

SELECT 
DISTINCT
 LE.CODE_TX AS LENDER_CODE,
 LE.NAME_TX AS LENDER_NAME,
  UMR.MATCH_RESULT_CD AS MATCH_RESULT,
   COUNT(UMR.ID) AS MATCH_COUNT
FROM UTL_MATCH_RESULT UMR
 JOIN LOAN L 
	ON L.ID = UMR.UTL_LOAN_ID
JOIN LENDER LE 
	ON LE.ID = L.LENDER_ID 
WHERE L.SOURCE_CD = 'OCR'
GROUP BY LE.CODE_TX, LE.NAME_TX, UMR.MATCH_RESULT_CD, USER_MATCH_RESULT_CD
ORDER BY LE.CODE_TX,UMR.MATCH_RESULT_CD