update scflr
set SERVICE_CENTER_FUNCTION_ID = 66
,UPDATE_DT = GETDATE()
,UPDATE_USER_TX = 'INC0194886'
,LOCK_ID = scflr.LOCK_ID % 255 + 1
from SERVICE_CENTER_FUNCTION_LENDER_RELATE as scflr
where scflr.id = 2743 and scflr.LENDER_ID = 2234 and scflr.SERVICE_CENTER_FUNCTION_ID <> 66
