USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Report_LenderITD]    Script Date: 8/29/2017 4:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DECLARE 
@LenderCode AS nvarchar(10)=NULL,
	@Division AS nvarchar(10)=NULL,
	@Coverage AS nvarchar(100)=NULL,
	@Branch as nvarchar(max)=NULL,
	@ReportType as nvarchar(50)=NULL,
	@FromDate as datetime=NULL,
	@ToDate as datetime=NULL,
	@GroupByCode as nvarchar(50)=NULL,
	@SortByCode as nvarchar(50)=NULL,
	@FilterByCode as nvarchar(50)=NULL,
	@ReportConfig as varchar(50)=NULL,
	@Report_History_ID AS bigint=NULL

SET @LenderCode = '6150'
SET @ToDate = '2017-08-29 00:00:00'


BEGIN
SET NOCOUNT ON
--Get rid of residual #temp tables
IF OBJECT_ID(N'tempdb..#tmpfilter',N'U') IS NOT NULL
  DROP TABLE #tmpfilter
IF OBJECT_ID(N'tempdb..#tmptable',N'U') IS NOT NULL
  DROP TABLE #tmptable
IF OBJECT_ID(N'tempdb..#t1',N'U') IS NOT NULL
  DROP TABLE #t1
  
BEGIN

DECLARE @LenderID AS bigint
Select @LenderID=ID from LENDER where CODE_TX = @LenderCode and PURGE_DT is null

DECLARE @BranchTable AS TABLE(ID int, STRVALUE nvarchar(30))
			INSERT INTO @BranchTable SELECT * FROM SplitFunction(@Branch, ',')  

DECLARE @GroupBySQL AS varchar(1000)=NULL
DECLARE @SortBySQL AS varchar(1000)=NULL
DECLARE @FilterBySQL AS varchar(1000)=NULL
DECLARE @HeaderTx AS varchar(1000)=NULL
DECLARE @FooterTx AS varchar(1000)=NULL
DECLARE @FillerZero AS varchar(18)
DECLARE @RecordCount bigint = 0
DECLARE @sqlstring AS nvarchar(4000)

SET @FillerZero = '000000000000000000'
IF @ReportType IS NULL
	SET @ReportType = 'DEFAULT'
	
IF @ReportConfig IS NULL
	SET @ReportConfig = 'DEFAULT'

IF @ToDate IS NULL
	Set @ToDate = GetDate()
	
END;

CREATE TABLE [dbo].[#tmptable](
	[LOAN_TYPE_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_TYPE_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_CODE_TX] [nvarchar](30) NULL,
	[LOAN_NUMBER_TX] [nvarchar](18) NOT NULL,
	[LOAN_NUMBERSORT_TX] [nvarchar](36) NULL,
	[OWNER_LASTNAME_TX] [nvarchar](30) NOT NULL,
	[OWNER_FIRSTNAME_TX] [nvarchar](30) NOT NULL,
	[OWNER_MIDDLE_INITIAL_TX] [char](1) NOT NULL,
	[OWNER_NAME] [nvarchar](64) NULL,
	[OWNER_LINE1_TX] [nvarchar](100) NOT NULL,
	[OWNER_LINE2_TX] [nvarchar](100) NOT NULL,
	[OWNER_STATE_TX] [nvarchar](30) NOT NULL,
	[OWNER_CITY_TX] [nvarchar](40) NOT NULL,
	[OWNER_ZIP_TX] [nvarchar](30) NOT NULL,
	[LOAN_EFFECTIVE_DT] [datetime] NULL,
	[LOAN_BALANCE_NO] [decimal](19, 2) NULL,
	[COLLATERAL_CODE_TX] [nvarchar](30) NULL,
	[COLLATERAL_NUMBER_NO] [int] NULL,
	[LENDER_COLLATERAL_CODE_TX] [nvarchar](10) NULL,
	[LOAN_BRANCHCODE_TX] [nvarchar](20) NULL,
	[LOAN_DIVISIONCODE_TX] [nvarchar](20) NULL,
	[LOAN_OFFICERCODE_TX] [nvarchar](20) NULL,
	[LOAN_LENDERCODE_TX] [nvarchar](10) NULL,
	[LOAN_LENDERNAME_TX] [nvarchar](40) NOT NULL,
	[INSCOMPANY_NAME_TX] [nvarchar](100) NOT NULL,
	[INSCOMPANY_POLICY_NO] [nvarchar](30) NOT NULL,
	[LOAN_CONTRACTTYPECODE] [nvarchar](30) NULL,
	[LOAN_STATUSCODE] [varchar](1) NOT NULL,
	[COLLATERAL_STATUSCODE] [varchar](2) NOT NULL,
	[REQUIREDCOVERAGE_STATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_SUBSTATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_INSSTATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_INSSUBSTATUSCODE] [varchar](2) NULL,
	[EFF_DT] [datetime2](7) NULL,
	[EXP_DT] [datetime2](7) NULL,
	[ISS_DT] [datetime2](7) NULL,
	[INS_TOTAL_NO] [decimal](22, 2) NOT NULL,
	[INS_PAID_NO] [decimal](18, 2) NOT NULL,
	[CPI_ISSUEPAID_DT] [datetime2](7) NULL,
	[ISS_REASON_TX] [nvarchar](10) NOT NULL,
	[OP_CANCEL_REASON_CD] [nvarchar] (10) NULL,
	[ISS_EVENT_DT] [datetime2](7) NULL,
	[CANCEL_EVENT_DT] [datetime2](7) NULL,
   [CPI_HOLD_IN] [nvarchar] (1) NULL,
	[INS_CAN_DT] [datetime2](7) NULL,
	[INS_CAN_TOTAL_NO] [decimal](22, 2) NOT NULL,
	[INS_CAN_PAID_NO] [decimal](18, 2) NOT NULL,
	[CPI_CANPAID_DT] [datetime2](7) NULL,
	[INS_TERM] [int] NOT NULL,
	[INS_EXPCXL_DT] [datetime2](7) NULL,
	[I_PRM] [decimal](18, 2) NOT NULL,
	[I_FEE] [decimal](18, 2) NOT NULL,
	[I_TAX1] [decimal](18, 2) NOT NULL,
	[I_TAX2] [decimal](18, 2) NOT NULL,
	[I_TAX3] [decimal](18, 2) NOT NULL,
	[I_TAX4] [decimal](18, 2) NOT NULL,
	[I_OTH] [decimal](18, 2) NOT NULL,
	[C_PRM] [decimal](18, 2) NOT NULL,
	[C_FEE] [decimal](18, 2) NOT NULL,
	[C_TAX1] [decimal](18, 2) NOT NULL,
	[C_TAX2] [decimal](18, 2) NOT NULL,
	[C_TAX3] [decimal](18, 2) NOT NULL,
	[C_TAX4] [decimal](18, 2) NOT NULL,
	[C_OTH] [decimal](18, 2) NOT NULL,
	[I_TOT_PRM] [decimal](18, 2) NOT NULL,
	[C_TOT_PRM] [decimal](18, 2) NOT NULL,
	[I_CNT] [int] NOT NULL,
	[C_CNT] [int] NOT NULL,
	[P_PRM] [decimal](18, 2) NOT NULL,
	[P_FEE] [decimal](18, 2) NOT NULL,
	[P_TAX1] [decimal](18, 2) NOT NULL,
	[P_TAX2] [decimal](18, 2) NOT NULL,
	[P_TAX3] [decimal](18, 2) NOT NULL,
	[P_TAX4] [decimal](18, 2) NOT NULL,
	[P_OTH] [decimal](18, 2) NOT NULL,
	[CP_PRM] [decimal](18, 2) NOT NULL,
	[CP_FEE] [decimal](18, 2) NOT NULL,
	[CP_TAX1] [decimal](18, 2) NOT NULL,
	[CP_TAX2] [decimal](18, 2) NOT NULL,
	[CP_TAX3] [decimal](18, 2) NOT NULL,
	[CP_TAX4] [decimal](18, 2) NOT NULL,
	[CP_OTH] [decimal](18, 2) NOT NULL,
	[LOAN_UNMATCHED_NO] [int] NULL,
	[COLL_UNMATCHED_NO] [int] NULL,
	[I_PAID_CNT] [int] NOT NULL,
	[C_PAID_CNT] [int] NOT NULL,
	[PROPERTY_DESCRIPTION] [nvarchar](100) NULL,
	[TOTAL_POLICIES_NO] [int] NULL,
	[LOAN_CERT_COUNT_NO] [int] NULL,
	[REPORT_SORTBY_TX] [nvarchar](2114) NULL,
	[REPORT_GROUPBY_TX] [nvarchar](2012) NULL,
	[REPORT_FOOTER_TX] [varchar](2012) NULL
) ON [PRIMARY]

CREATE TABLE [dbo].[#tmpfilter](
	[ATTRIBUTE_CD] [nvarchar](50) NULL,
	[VALUE_TX] [nvarchar](50) NULL
) ON [PRIMARY]

INSERT INTO #tmpfilter 
	([ATTRIBUTE_CD]
	,[VALUE_TX])

SELECT
	RAD.ATTRIBUTE_CD,
	CASE 
		WHEN Custom.VALUE_TX IS NOT NULL then Custom.VALUE_TX
		WHEN RA.VALUE_TX IS NOT NULL then RA.VALUE_TX
		ELSE RAD.VALUE_TX
	END AS VALUE_TX
FROM REF_CODE RC
JOIN REF_CODE_ATTRIBUTE RAD ON RAD.DOMAIN_CD = RC.DOMAIN_CD AND RAD.REF_CD = 'DEFAULT' AND RAD.ATTRIBUTE_CD like 'FIL%'
LEFT JOIN REF_CODE_ATTRIBUTE RA ON RA.DOMAIN_CD = RC.DOMAIN_CD AND RA.REF_CD = RC.CODE_CD AND RA.ATTRIBUTE_CD = RAD.ATTRIBUTE_CD
LEFT JOIN 
	(SELECT CODE_TX,REPORT_CD,REPORT_DOMAIN_CD,REPORT_REF_ATTRIBUTE_CD,VALUE_TX FROM REPORT_CONFIG RC
	JOIN REPORT_CONFIG_ATTRIBUTE RCA ON RCA.REPORT_CONFIG_ID = RC.ID) CUSTOM
	ON CUSTOM.CODE_TX = @ReportConfig AND CUSTOM.REPORT_DOMAIN_CD = RAD.DOMAIN_CD AND CUSTOM.REPORT_REF_ATTRIBUTE_CD = RAD.ATTRIBUTE_CD AND CUSTOM.REPORT_CD = @ReportType
WHERE RC.DOMAIN_CD = 'Report_LenderITD' AND RC.CODE_CD = @ReportType

BEGIN --Set Filters, Groups, and Sorts
if @ReportConfig is NULL or @ReportConfig = '' or @ReportConfig = '0000'
  Begin
	IF @GroupByCode IS NULL OR @GroupByCode = ''
		SELECT @GroupBySQL=GROUP_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportType
	ELSE
		SELECT @GroupBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_GroupBy' AND CODE_CD = @GroupByCode
	IF @SortByCode IS NULL OR @SortByCode = ''
		SELECT @SortBySQL=SORT_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportType
	ELSE
		SELECT @SortBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_SortBy' AND CODE_CD = @SortByCode
	IF @FilterByCode IS NULL OR @FilterByCode = ''
		SELECT @FilterBySQL=FILTER_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportType
	Else
		SELECT @FilterBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_FilterBy' AND CODE_CD = @FilterByCode

	Select @HeaderTx=HEADER_TX from REPORT_CONFIG where CODE_TX = @ReportType
	Select @FooterTx=FOOTER_TX from REPORT_CONFIG where CODE_TX = @ReportType
  End
else
  Begin
	IF @GroupByCode IS NULL OR @GroupByCode = ''
		SELECT @GroupBySQL=GROUP_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
	ELSE
		SELECT @GroupBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_GroupBy' AND CODE_CD = @GroupByCode
	IF @SortByCode IS NULL OR @SortByCode = ''
		SELECT @SortBySQL=SORT_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
	ELSE
		SELECT @SortBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_SortBy' AND CODE_CD = @SortByCode
	IF @FilterByCode IS NULL OR @FilterByCode = ''
		SELECT @FilterBySQL=FILTER_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
	Else
		SELECT @FilterBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_FilterBy' AND CODE_CD = @FilterByCode

	Select @HeaderTx=HEADER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig
	Select @FooterTx=FOOTER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig
  End  
END

INSERT INTO #tmptable
           ([LOAN_TYPE_TX]
           ,[REQUIREDCOVERAGE_TYPE_TX]
           ,[REQUIREDCOVERAGE_CODE_TX]
           ,[LOAN_NUMBER_TX]
           ,[LOAN_NUMBERSORT_TX]
           ,[OWNER_LASTNAME_TX]
           ,[OWNER_FIRSTNAME_TX]
           ,[OWNER_MIDDLE_INITIAL_TX]
           ,[OWNER_NAME]
           ,[OWNER_LINE1_TX]
           ,[OWNER_LINE2_TX]
           ,[OWNER_STATE_TX]
           ,[OWNER_CITY_TX]
           ,[OWNER_ZIP_TX]
           ,[LOAN_EFFECTIVE_DT]
           ,[LOAN_BALANCE_NO]
           ,[COLLATERAL_CODE_TX]
           ,[COLLATERAL_NUMBER_NO]
           ,[LENDER_COLLATERAL_CODE_TX]
           ,[LOAN_BRANCHCODE_TX]
           ,[LOAN_DIVISIONCODE_TX]
           ,[LOAN_OFFICERCODE_TX]
           ,[LOAN_LENDERCODE_TX]
           ,[LOAN_LENDERNAME_TX]
           ,[INSCOMPANY_NAME_TX]
           ,[INSCOMPANY_POLICY_NO]
           ,[LOAN_CONTRACTTYPECODE]
           ,[LOAN_STATUSCODE]
           ,[COLLATERAL_STATUSCODE]
           ,[REQUIREDCOVERAGE_STATUSCODE]
           ,[REQUIREDCOVERAGE_SUBSTATUSCODE]
           ,[REQUIREDCOVERAGE_INSSTATUSCODE]
           ,[REQUIREDCOVERAGE_INSSUBSTATUSCODE]
           ,[EFF_DT]
           ,[EXP_DT]
           ,[ISS_DT]
           ,[INS_TOTAL_NO]
           ,[INS_PAID_NO]
           ,[CPI_ISSUEPAID_DT]
           ,[ISS_REASON_TX]
           ,[OP_CANCEL_REASON_CD]
           ,[ISS_EVENT_DT]
           ,[CANCEL_EVENT_DT]
           ,[CPI_HOLD_IN]
           ,[INS_CAN_DT]
           ,[INS_CAN_TOTAL_NO]
           ,[INS_CAN_PAID_NO]
           ,[CPI_CANPAID_DT]
           ,[INS_TERM]
           ,[INS_EXPCXL_DT]
           ,[I_PRM]
           ,[I_FEE]
           ,[I_TAX1]
           ,[I_TAX2]
		   ,[I_TAX3]
           ,[I_TAX4]
           ,[I_OTH]
           ,[C_PRM]
           ,[C_FEE]
           ,[C_TAX1]
           ,[C_TAX2]
		   ,[C_TAX3]
           ,[C_TAX4]
           ,[C_OTH]
           ,[I_TOT_PRM]
           ,[C_TOT_PRM]
           ,[I_CNT]
           ,[C_CNT]
           ,[P_PRM]
           ,[P_FEE]
           ,[P_TAX1]
           ,[P_TAX2]
		   ,[P_TAX3]
           ,[P_TAX4]
           ,[P_OTH]
           ,[CP_PRM]
           ,[CP_FEE]
           ,[CP_TAX1]
           ,[CP_TAX2]
		   ,[CP_TAX3]
           ,[CP_TAX4]
           ,[CP_OTH]
		   ,[LOAN_UNMATCHED_NO] 
		   ,[COLL_UNMATCHED_NO]
           ,[I_PAID_CNT]
           ,[C_PAID_CNT]
           ,[PROPERTY_DESCRIPTION]
           ,[TOTAL_POLICIES_NO]
		   ,[LOAN_CERT_COUNT_NO]
           ,[REPORT_SORTBY_TX]
           ,[REPORT_GROUPBY_TX]
           ,[REPORT_FOOTER_TX])

SELECT
	 ISNULL(RC_DIVISION.DESCRIPTION_TX,RC_SC.DESCRIPTION_TX) AS [LOAN_TYPE_TX]
	,ISNULL(RC_COVERAGETYPE.MEANING_TX,'') AS [REQUIREDCOVERAGE_TYPE_TX]
	,RC.TYPE_CD AS [REQUIREDCOVERAGE_CODE_TX]
	,L.NUMBER_TX AS	[LOAN_NUMBER_TX]
	,SUBSTRING(@FillerZero, 1, 18 - LEN(L.NUMBER_TX)) + CAST(L.NUMBER_TX AS nvarchar(18)) AS [LOAN_NUMBERSORT_TX]
	,ISNULL(O.LAST_NAME_TX,'') AS [OWNER_LASTNAME_TX]
	,ISNULL(O.FIRST_NAME_TX,'') AS [OWNER_FIRSTNAME_TX]
	,ISNULL(O.MIDDLE_INITIAL_TX,'') AS [OWNER_MIDDLE_INITIAL_TX]
	,CASE  WHEN O.FIRST_NAME_TX IS NULL THEN O.LAST_NAME_TX ELSE RTRIM(O.LAST_NAME_TX + ', ' + ISNULL(O.FIRST_NAME_TX,'') + ' ' + ISNULL(O.MIDDLE_INITIAL_TX,'')) END AS [OWNER_NAME]
	,ISNULL(AO.LINE_1_TX,'') AS	[OWNER_LINE1_TX]
	,ISNULL(AO.LINE_2_TX,'') AS	[OWNER_LINE2_TX]
	,ISNULL(AO.STATE_PROV_TX,'') AS	[OWNER_STATE_TX]
	,ISNULL(AO.CITY_TX,'') AS [OWNER_CITY_TX]
	,ISNULL(AO.POSTAL_CODE_TX,'')  AS [OWNER_ZIP_TX]
	,L.EFFECTIVE_DT AS [LOAN_EFFECTIVE_DT]
	,C.LOAN_BALANCE_NO AS [LOAN_BALANCE_NO]
	,CC.CODE_TX AS [COLLATERAL_CODE_TX]
	,C.COLLATERAL_NUMBER_NO AS [COLLATERAL_NUMBER_NO]
	,C.LENDER_COLLATERAL_CODE_TX AS	[LENDER_COLLATERAL_CODE_TX]
	,(CASE WHEN L.BRANCH_CODE_TX IS NULL  OR L.BRANCH_CODE_TX = '' THEN 'NOBRANCH' ELSE L.BRANCH_CODE_TX END) AS [LOAN_BRANCHCODE_TX]
	,CASE WHEN ISNULL(L.DIVISION_CODE_TX,'') = ''
		THEN '0'
		ELSE L.DIVISION_CODE_TX
	 END AS [LOAN_DIVISIONCODE_TX]
	,L.OFFICER_CODE_TX AS [LOAN_OFFICERCODE_TX]
	,LND.CODE_TX AS	[LOAN_LENDERCODE_TX]
	,LND.NAME_TX AS	[LOAN_LENDERNAME_TX]
	,ISNULL(CR.NAME_TX,'') AS [INSCOMPANY_NAME_TX]
	,FPC.NUMBER_TX AS [INSCOMPANY_POLICY_NO]
	,L.CONTRACT_TYPE_CD AS [LOAN_CONTRACTTYPECODE]
	,L.STATUS_CD AS	[LOAN_STATUSCODE]
	,C.STATUS_CD AS	[COLLATERAL_STATUSCODE]
	,RC.STATUS_CD AS [REQUIREDCOVERAGE_STATUSCODE]
	,RC.SUB_STATUS_CD AS [REQUIREDCOVERAGE_SUBSTATUSCODE]
	,RC.SUMMARY_STATUS_CD AS [REQUIREDCOVERAGE_INSSTATUSCODE]
	,RC.SUMMARY_SUB_STATUS_CD AS [REQUIREDCOVERAGE_INSSUBSTATUSCODE]
	,FPC.EFFECTIVE_DT AS [EFF_DT]
	,FPC.EXPIRATION_DT AS [EXP_DT]
	,FPC.ISSUE_DT AS [ISS_DT]
	,(ISNULL(CPISQ.IPRM_AMOUNT_NO,0) + ISNULL(CPISQ.IFEE_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX1_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX2_AMOUNT_NO,0) + 
	   ISNULL(CPISQ.ITAX3_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX4_AMOUNT_NO,0) + ISNULL(CPISQ.IOTH_AMOUNT_NO,0)) AS [INS_TOTAL_NO]		
	,(ABS(ISNULL(FINSQ.P_PRM,0)) + ABS(ISNULL(FINSQ.P_FEE,0)) + ABS(ISNULL(FINSQ.P_TAX1,0)) + ABS(ISNULL(FINSQ.P_TAX2,0)) + 
	   ABS(ISNULL(FINSQ.P_TAX3,0)) + ABS(ISNULL(FINSQ.P_TAX4,0)) + ABS(ISNULL(FINSQ.P_OTH,0))) AS [INS_PAID_NO]			
	,(SELECT MAX(TXN_DT) FROM FINANCIAL_TXN WHERE TXN_TYPE_CD = 'P' and PURGE_DT is null AND FINANCIAL_TXN.FPC_ID = FPC.ID) AS CPI_ISSUEPAID_DT
	,ISNULL(CPA_I.REASON_CD,'') AS [ISS_REASON_TX]
	,ISNULL(CPA_C.REASON_CD,'') AS [OP_CANCEL_REASON_CD]
	,CPA_I.PROCESS_DT AS [ISS_EVENT_DT]
	,CPA_C.PROCESS_DT AS [CANCEL_EVENT_DT]
   ,FPC.HOLD_IN as CPI_HOLD_IN
	,FPC.CANCELLATION_DT AS	[INS_CAN_DT]					
	,(ABS(ISNULL(CPISQ.CPRM_AMOUNT_NO,0)) + ABS(ISNULL(CPISQ.CFEE_AMOUNT_NO,0)) + ABS(ISNULL(CPISQ.CTAX1_AMOUNT_NO,0)) + ABS(ISNULL(CPISQ.CTAX2_AMOUNT_NO,0)) + 
	        ABS(ISNULL(CPISQ.CTAX3_AMOUNT_NO,0)) + ABS(ISNULL(CPISQ.CTAX4_AMOUNT_NO,0)) + ABS(ISNULL(CPISQ.COTH_AMOUNT_NO,0))) AS  [INS_CAN_TOTAL_NO]
	,(ABS(ISNULL(FINSQ.CP_PRM,0)) + ABS(ISNULL(FINSQ.CP_FEE,0)) + ABS(ISNULL(FINSQ.CP_TAX1,0)) + ABS(ISNULL(FINSQ.CP_TAX2,0)) + 
	       ABS(ISNULL(FINSQ.CP_TAX3,0)) + ABS(ISNULL(FINSQ.CP_TAX4,0)) + ABS(ISNULL(FINSQ.CP_OTH,0))) AS  [INS_CAN_PAID_NO]		
	,(SELECT MAX(TXN_DT) FROM FINANCIAL_TXN WHERE TXN_TYPE_CD = 'CP' and PURGE_DT is null AND FINANCIAL_TXN.FPC_ID = FPC.ID) AS CPI_CANPAID_DT
	,CPQ.TERM_NO AS	[INS_TERM]
	,ISNULL(FPC.CANCELLATION_DT,FPC.EXPIRATION_DT) AS [INS_EXPCXL_DT]
	,ISNULL(CPISQ.IPRM_AMOUNT_NO,0) AS I_PRM
	,ISNULL(CPISQ.IFEE_AMOUNT_NO,0) AS I_FEE
	,ISNULL(CPISQ.ITAX1_AMOUNT_NO,0) AS I_TAX1
	,ISNULL(CPISQ.ITAX2_AMOUNT_NO,0) AS I_TAX2
	,ISNULL(CPISQ.ITAX3_AMOUNT_NO,0) AS I_TAX3
	,ISNULL(CPISQ.ITAX4_AMOUNT_NO,0) AS I_TAX4
	,ISNULL(CPISQ.IOTH_AMOUNT_NO,0) AS I_OTH
	,ABS(ISNULL(CPISQ.CPRM_AMOUNT_NO,0)) AS C_PRM
	,ABS(ISNULL(CPISQ.CFEE_AMOUNT_NO,0)) AS C_FEE
	,ABS(ISNULL(CPISQ.CTAX1_AMOUNT_NO,0)) AS C_TAX1	
	,ABS(ISNULL(CPISQ.CTAX2_AMOUNT_NO,0)) AS C_TAX2
	,ABS(ISNULL(CPISQ.CTAX3_AMOUNT_NO,0)) AS C_TAX3
	,ABS(ISNULL(CPISQ.CTAX4_AMOUNT_NO,0)) AS C_TAX4
	,ABS(ISNULL(CPISQ.COTH_AMOUNT_NO,0)) AS C_OTH
	,ISNULL(CPA_I.TOTAL_PREMIUM_NO,0) AS I_TOT_PRM		
	,ABS(ISNULL(CPA_C.TOTAL_PREMIUM_NO,0)) AS C_TOT_PRM
	,CASE WHEN ((ISNULL(CPISQ.IPRM_AMOUNT_NO,0) + ISNULL(CPISQ.IFEE_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX1_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX2_AMOUNT_NO,0) + 
	               ISNULL(CPISQ.ITAX3_AMOUNT_NO,0) + ISNULL(CPISQ.ITAX4_AMOUNT_NO,0) + ISNULL(CPISQ.IOTH_AMOUNT_NO,0))) > 0 THEN 1 ELSE 0 END AS I_CNT			
	,CASE WHEN ((ISNULL(CPISQ.CPRM_AMOUNT_NO,0) + ISNULL(CPISQ.CFEE_AMOUNT_NO,0) + ISNULL(CPISQ.CTAX1_AMOUNT_NO,0) + ISNULL(CPISQ.CTAX2_AMOUNT_NO,0) + 
	               ISNULL(CPISQ.CTAX3_AMOUNT_NO,0) + ISNULL(CPISQ.CTAX4_AMOUNT_NO,0) + ISNULL(CPISQ.COTH_AMOUNT_NO,0))) > 0 THEN 1 ELSE 0 END AS C_CNT		
	,ABS(ISNULL(FINSQ.P_PRM,0)) AS P_PRM
	,ABS(ISNULL(FINSQ.P_FEE,0)) AS P_FEE
	,ABS(ISNULL(FINSQ.P_TAX1,0)) AS P_TAX1
	,ABS(ISNULL(FINSQ.P_TAX2,0)) AS P_TAX2
	,ABS(ISNULL(FINSQ.P_TAX3,0)) AS P_TAX3
	,ABS(ISNULL(FINSQ.P_TAX4,0)) AS P_TAX4
	,ABS(ISNULL(FINSQ.P_OTH,0)) AS P_OTH
	,ABS(ISNULL(FINSQ.CP_PRM,0)) AS CP_PRM
	,ABS(ISNULL(FINSQ.CP_FEE,0)) AS CP_FEE
	,ABS(ISNULL(FINSQ.CP_TAX1,0)) AS CP_TAX1
	,ABS(ISNULL(FINSQ.CP_TAX2,0)) AS CP_TAX2
	,ABS(ISNULL(FINSQ.CP_TAX3,0)) AS CP_TAX3
	,ABS(ISNULL(FINSQ.CP_TAX4,0)) AS CP_TAX4
	,ABS(ISNULL(FINSQ.CP_OTH,0)) AS CP_OTH
    ,ISNULL(L.EXTRACT_UNMATCH_COUNT_NO,0) AS [LOAN_UNMATCHED_NO]
    ,ISNULL(C.EXTRACT_UNMATCH_COUNT_NO,0) AS [COLL_UNMATCHED_NO]
	,CASE WHEN (ABS(ISNULL(FINSQ.P_PRM,0)) + ABS(ISNULL(FINSQ.P_FEE,0)) + ABS(ISNULL(FINSQ.P_TAX1,0)) + ABS(ISNULL(FINSQ.P_TAX2,0)) + 
	            ABS(ISNULL(FINSQ.P_TAX3,0)) + ABS(ISNULL(FINSQ.P_TAX4,0)) + ABS(ISNULL(FINSQ.P_OTH,0)) > 0) THEN 1 ELSE 0 END AS I_PAID_CNT
	,CASE WHEN (ABS(ISNULL(FINSQ.CP_PRM,0)) + ABS(ISNULL(FINSQ.CP_FEE,0)) + ABS(ISNULL(FINSQ.CP_TAX1,0)) + ABS(ISNULL(FINSQ.CP_TAX2,0)) + 
	            ABS(ISNULL(FINSQ.CP_TAX3,0)) + ABS(ISNULL(FINSQ.CP_TAX4,0)) + ABS(ISNULL(FINSQ.CP_OTH,0)) > 0) THEN 1 ELSE 0 END AS C_PAID_CNT		
	,dbo.fn_GetPropertyDescriptionForReports(C.ID) PROPERTY_DESCRIPTION
	,(select COUNT(*) from FORCE_PLACED_CERTIFICATE where ID in (
		SELECT SQFPC.ID FROM FORCE_PLACED_CERTIFICATE SQFPC 
		join FINANCIAL_TXN SQFIN on SQFPC.ID = SQFIN.FPC_ID and SQFIN.TXN_TYPE_CD = 'P' 
		WHERE SQFPC.LOAN_ID = L.ID and SQFPC.PURGE_DT IS NULL
		AND DATEDIFF(day, SQFPC.EFFECTIVE_DT, ISNULL(SQFPC.CANCELLATION_DT,SQFPC.EXPIRATION_DT)) > 0 
		group by SQFPC.ID)) AS [TOTAL_POLICIES_NO]	
	,(SELECT COUNT(*) FROM FORCE_PLACED_CERTIFICATE 
		WHERE LOAN_ID = L.ID and PURGE_DT IS NULL 
		AND DATEDIFF(day, EFFECTIVE_DT, ISNULL(CANCELLATION_DT,EXPIRATION_DT)) > 0)
		AS [LOAN_CERT_COUNT_NO]
	,@SortByCode AS [REPORT_SORTBY_TX]
	,@GroupByCode as [REPORT_GROUPBY_TX]
	,REPORT_FOOTER_TX = ''
	
FROM FORCE_PLACED_CERTIFICATE FPC
JOIN FORCE_PLACED_CERT_REQUIRED_COVERAGE_RELATE FPCRCR ON FPCRCR.FPC_ID = FPC.ID AND FPCRCR.PURGE_DT IS NULL
JOIN REQUIRED_COVERAGE RC ON FPCRCR.REQUIRED_COVERAGE_ID = RC.ID AND RC.PURGE_DT IS NULL
JOIN LOAN L ON L.ID = FPC.LOAN_ID	AND ISNULL(L.RECORD_TYPE_CD,'') IN('A', 'D', 'G') AND L.PURGE_DT IS NULL
JOIN LENDER LND ON LND.ID = L.LENDER_ID AND LND.PURGE_DT IS NULL
JOIN OWNER_LOAN_RELATE OLR ON OLR.LOAN_ID = L.ID AND OLR.PRIMARY_IN = 'Y' AND OLR.PURGE_DT IS NULL
JOIN [OWNER] O ON O.ID = OLR.OWNER_ID AND O.PURGE_DT IS NULL
JOIN PROPERTY P ON RC.PROPERTY_ID = P.ID AND P.PURGE_DT IS NULL
JOIN COLLATERAL C ON P.ID = C.PROPERTY_ID AND C.PURGE_DT IS NULL
JOIN CPI_QUOTE CPQ ON CPQ.ID = FPC.CPI_QUOTE_ID AND CPQ.PURGE_DT IS NULL
LEFT JOIN CPI_ACTIVITY CPA_I ON CPA_I.CPI_QUOTE_ID = CPQ.ID AND CPA_I.TYPE_CD = 'I' AND CPA_I.PURGE_DT IS NULL
OUTER APPLY 
(SELECT SUM(TOTAL_PREMIUM_NO) AS TOTAL_PREMIUM_NO, MAX(REASON_CD) AS REASON_CD, MAX(PROCESS_DT) AS PROCESS_DT FROM CPI_ACTIVITY C  
WHERE C.CPI_QUOTE_ID = CPQ.ID AND C.TYPE_CD IN ('C', 'R', 'MT') AND C.PURGE_DT IS NULL
) CPA_C

OUTER APPLY (
SELECT  
SUM(CASE WHEN CD_SQ.TYPE_CD = 'PRM' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS IPRM_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'FEE' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS IFEE_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'OTH' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS IOTH_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX1' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS ITAX1_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX2' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS ITAX2_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX3' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS ITAX3_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX4' AND CPA_SQ.TYPE_CD = 'I' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS ITAX4_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'PRM' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CPRM_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'FEE' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CFEE_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'OTH' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS COTH_AMOUNT_NO, 
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX1' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CTAX1_AMOUNT_NO, 
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX2' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CTAX2_AMOUNT_NO,
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX3' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CTAX3_AMOUNT_NO, 
SUM(CASE WHEN CD_SQ.TYPE_CD = 'TAX4' AND CPA_SQ.TYPE_CD = 'C' THEN CD_SQ.AMOUNT_NO ELSE 0 END) AS CTAX4_AMOUNT_NO
FROM CPI_ACTIVITY CPA_SQ 
JOIN CERTIFICATE_DETAIL CD_SQ ON CD_SQ.CPI_ACTIVITY_ID = CPA_SQ.ID AND CPA_SQ.CPI_QUOTE_ID = CPQ.ID AND CD_SQ.PURGE_DT IS NULL
WHERE CPA_SQ.CPI_QUOTE_ID = CPQ.ID AND CPA_SQ.PURGE_DT IS NULL
) CPISQ

LEFT JOIN OWNER_ADDRESS AO ON AO.ID = O.ADDRESS_ID AND AO.PURGE_DT IS NULL
LEFT JOIN CARRIER CR on CR.ID = FPC.CARRIER_ID AND CR.PURGE_DT IS NULL

OUTER APPLY (
SELECT  
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS INS_PAID_NO,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS INS_CAN_PAID_NO,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'PRM' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_PRM,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'FEE' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_FEE,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'TAX1' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_TAX1,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'TAX2' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_TAX2,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'TAX3' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_TAX3,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'TAX4' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_TAX4,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'R' AND FTDSQ.TYPE_CD = 'OTH' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS I_OTH,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'PRM' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_PRM,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'FEE' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_FEE,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'TAX1' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_TAX1,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'TAX2' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_TAX2,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'TAX3' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_TAX3,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'TAX4' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_TAX4,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'C' AND FTDSQ.TYPE_CD = 'OTH' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS C_OTH,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'PRM' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_PRM,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'FEE' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_FEE,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'TAX1' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_TAX1,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'TAX2' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_TAX2,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'TAX3' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_TAX3,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'TAX4' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_TAX4,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'P' AND FTDSQ.TYPE_CD = 'OTH' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS P_OTH,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'PRM' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_PRM,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'FEE' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_FEE,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'TAX1' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_TAX1,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'TAX2' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_TAX2,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'TAX3' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_TAX3,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'TAX4' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_TAX4,
SUM(CASE WHEN FTXSQ.TXN_TYPE_CD = 'CP' AND FTDSQ.TYPE_CD = 'OTH' THEN FTDSQ.AMOUNT_NO ELSE 0 END) AS CP_OTH
FROM FINANCIAL_TXN FTXSQ  
JOIN FINANCIAL_TXN_DETAIL FTDSQ ON FTDSQ.FINANCIAL_TXN_ID = FTXSQ.ID AND FTXSQ.FPC_ID = FPC.ID AND FTDSQ.PURGE_DT IS NULL
WHERE FTXSQ.FPC_ID = FPC.ID AND FTXSQ.PURGE_DT IS NULL
) FINSQ

LEFT JOIN REF_CODE RC_COVERAGETYPE ON RC_COVERAGETYPE.DOMAIN_CD = 'Coverage' and RC_COVERAGETYPE.CODE_CD = RC.TYPE_CD 
LEFT JOIN REF_CODE RC_DIVISION on RC_DIVISION.DOMAIN_CD = 'ContractType' and RC_DIVISION.CODE_CD = L.DIVISION_CODE_TX
LEFT JOIN COLLATERAL_CODE CC ON CC.ID = C.COLLATERAL_CODE_ID AND CC.PURGE_DT IS NULL
left Join REF_CODE RC_SC on RC_SC.DOMAIN_CD = 'SecondaryClassification' AND CC.SECONDARY_CLASS_CD = RC_SC.CODE_CD
left Join REF_CODE_ATTRIBUTE RCA_PROP on RC_SC.DOMAIN_CD = RCA_PROP.DOMAIN_CD and RC_SC.CODE_CD = RCA_PROP.REF_CD and RCA_PROP.ATTRIBUTE_CD = 'PropertyType'

CROSS APPLY dbo.fn_FilterCollateralByDivisionCd(C.ID, @Division) fn_FCBD
WHERE LND.CODE_TX = @LenderCode 
AND (L.BRANCH_CODE_TX IN (SELECT STRVALUE FROM @BranchTable) OR @Branch IS NULL OR @Branch = 'ALL')
AND RC.STATUS_CD <> 'I' 
AND fn_FCBD.loanType IS NOT NULL
AND (RC.TYPE_CD = @Coverage OR @Coverage = '1' OR @Coverage IS NULL)
AND ((@FromDate IS NULL and FPC.ISSUE_DT <= @ToDate)
	or (@FromDate IS NOT NULL and FPC.ISSUE_DT BETWEEN @FromDate AND @ToDate))
AND FPC.PURGE_DT IS NULL

If isnull(@FilterBySQL,'') <> '' 
Begin
  Select * into #t1 from #tmptable 
  truncate table #tmptable

  Set @sqlstring = N'Insert into #tmpTable
                     Select * from dbo.#t1 where ' + @FilterBySQL
  --print @sqlstring
  EXECUTE sp_executesql @sqlstring
End  

Set @sqlstring = N'Update #tmpTable Set [REPORT_GROUPBY_TX] = ' + @GroupBySQL
EXECUTE sp_executesql @sqlstring

Set @sqlstring = N'Update #tmpTable Set [REPORT_SORTBY_TX] = ' + @SortBySQL
EXECUTE sp_executesql @sqlstring

If isnull(@HeaderTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_HEADER_TX] = ' + @HeaderTx
	EXECUTE sp_executesql @sqlstring
End

If isnull(@FooterTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_FOOTER_TX] = ' + @FooterTx
	EXECUTE sp_executesql @sqlstring
End

SELECT @RecordCount = COUNT(*) from #tmptable

IF @Report_History_ID IS NOT NULL
BEGIN
  UPDATE [UNITRAC-REPORTS].[UNITRAC].DBO.REPORT_HISTORY_NOXML
  SET RECORD_COUNT_NO = @RecordCount
  WHERE ID = @Report_History_ID
END

SELECT INSCOMPANY_POLICY_NO [Policy Number], 
LOAN_NUMBER_TX [Loan Number], COLLATERAL_NUMBER_NO [Coll Nbr], OWNER_NAME,
CONCAT(OWNER_LINE1_TX,'  ',OWNER_LINE2_TX,'',OWNER_CITY_TX,', ',OWNER_STATE_TX,' ',OWNER_ZIP_TX) as  [Owner Information],
INSCOMPANY_NAME_TX [Carrier], EFF_DT [Policy Effective Date], EXP_DT [Policy Expiration Date], INS_TERM [Policy Term] 
, ISS_DT [Policy Issue Date], INS_TOTAL_NO [Issued Total], INS_PAID_NO [Paid Issured Total], INS_CAN_DT [Policy Cxl Date],
INS_CAN_TOTAL_NO [Cancel Total], INS_CAN_PAID_NO [Paid Cancel Total], ISS_REASON_TX [Issue Reason], 
PROPERTY_DESCRIPTION [Collateral]
FROM #tmptable

END

