USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Report_EscrowException]    Script Date: 3/29/2017 4:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DECLARE
@LenderCode as nvarchar(10)=NULL,
	@Branch as nvarchar(max)=NULL,
	@Division as nvarchar(10)=NULL,
	@Coverage as nvarchar(100)=NULL,
	@InsCompany as nvarchar(100)=NULL,
	@ReportType as nvarchar(50)=NULL,
	@GroupByCode as nvarchar(50)=NULL,
	@SortByCode as nvarchar(50)=NULL,
	@FilterByCode as nvarchar(50)=NULL,
	@ReportConfig as varchar(50)=NULL,
	@ReportDomainName as varchar(30) = 'Report_EscrowException',
	@Report_History_ID as bigint=NULL

--Get rid of residual #temp tables
IF OBJECT_ID(N'tempdb..#tmpfilter',N'U') IS NOT NULL
  DROP TABLE #tmpfilter
IF OBJECT_ID(N'tempdb..#tmptable',N'U') IS NOT NULL
  DROP TABLE #tmptable
IF OBJECT_ID(N'tempdb..#t1',N'U') IS NOT NULL
  DROP TABLE #t1
IF OBJECT_ID(N'tempdb..#t2',N'U') IS NOT NULL
  DROP TABLE #t2
	
DECLARE @BeginDate As datetime2 (7)
DECLARE @EndDate AS datetime2 (7)
Declare @UsePayeeCode as nvarchar(10)
Declare @LenderID as bigint
DECLARE @ESCPRMEXCEP AS VARCHAR(1) = NULL	
DECLARE @ESCPAYEECDEXCEP AS VARCHAR(1) = NULL	

if @Report_History_ID is not NULL
Begin
	Select @BeginDate=VUT_START_DT, 
		@EndDate=VUT_END_DT From [UNITRAC-REPORTS].[UNITRAC].DBO.REPORT_HISTORY_NOXML where ID = @Report_History_ID

	 SET @BeginDate = DATEADD(HH,0,@BeginDate)			
	 SET @EndDate = DATEADD(HH,0,@EndDate)		
End

DECLARE @BranchTable AS TABLE(ID int, STRVALUE nvarchar(30))
			INSERT INTO @BranchTable SELECT * FROM SplitFunction(@Branch, ',')  

CREATE TABLE [dbo].[#tmptable](
	[LOAN_BRANCHCODE_TX] [nvarchar](20) NULL,
	[LOAN_DIVISIONCODE_TX] [nvarchar](20) NULL,
	[LOAN_TYPE_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_CODE_TX] [nvarchar](30) NULL,
	[REQUIREDCOVERAGE_TYPE_TX] [nvarchar](1000) NULL,
--LOAN
	[LOAN_NUMBER_TX] [nvarchar](18) NOT NULL,
	[LOAN_NUMBERSORT_TX] [nvarchar](18) NULL,
--LENDER
	[LENDER_CODE_TX] [nvarchar](10) NULL,	
	[LENDER_NAME_TX] [nvarchar](40) NULL,	
--LOAN RELATED DATA
    [MISC1_TX] [nvarchar] (50) NULL,	
--OWNER
	[OWNER_LASTNAME_TX] [nvarchar](30) NULL,
	[OWNER_FIRSTNAME_TX] [nvarchar](30) NULL,
	[OWNER_MIDDLEINITIAL_TX] [char](1) NULL,
	[OWNER_NAME_TX] [nvarchar](100) NULL,
	[OWNER_LINE1_TX] [nvarchar](100) NULL,
	[OWNER_LINE2_TX] [nvarchar](100) NULL,
	[OWNER_CITY_TX] [nvarchar](40) NULL,
	[OWNER_STATE_TX] [nvarchar](30) NULL,
	[OWNER_ZIP_TX] [nvarchar](30) NULL,
--PROPERTY
	[COLLATERAL_LINE1_TX] [nvarchar](100) NULL,
	[COLLATERAL_LINE2_TX] [nvarchar](100) NULL,
	[COLLATERAL_CITY_TX] [nvarchar](40) NULL,
	[COLLATERAL_STATE_TX] [nvarchar](30) NULL,
	[COLLATERAL_ZIP_TX] [nvarchar](30) NULL,
--COVERAGE
	[COVERAGE_STATUS_TX] [nvarchar](1000) NULL,
	[NOTICE_DT] [datetime2](7) NULL,
	[NOTICE_TYPE_TX] [nvarchar](1000) NULL,
	[NOTICE_SEQ_NO] [int] NULL,
--BORROWER INSURANCE
	[BORRINSCOMPANY_NAME_TX] [nvarchar](100) NULL,
	[BORRINSCOMPANY_LINE1_TX] [nvarchar](100) NULL,
	[BORRINSCOMPANY_LINE2_TX] [nvarchar](100) NULL,
	[BORRINSCOMPANY_CITY_TX] [nvarchar](40) NULL,
	[BORRINSCOMPANY_STATE_TX] [nvarchar](30) NULL,
	[BORRINSCOMPANY_ZIP_TX] [nvarchar](30) NULL,
	[BORRINSCOMPANY_POLICY_NO] [nvarchar](30) NULL,
	[BORRINSCOMPANY_EFF_DT] [datetime2](7) NULL,
	[BORRINSCOMPANY_EXP_DT] [datetime2](7) NULL,
--ESCROW
	[ESCROW_DUE_DT] [datetime2](7) NULL,
	[ESCROW_PREMIUM_NO] [decimal](18, 2) NULL,
	[ESCROW_OTHER_NO] [decimal](18, 2) NULL,
	[ESCROW_FEE_NO] [decimal](18, 2) NULL,
	[ESCROW_TOTAL_NO] [decimal](18, 2) NULL,
	[ESCROW_PRIOR_TOTAL_NO] [decimal](18,2) NULL,
	[ESCROW_PAYEE_CODE_TX] [nvarchar](20) NULL,
	[ESCROW_TOTAL_AMT_CHG_DT] [datetime2] (7) NULL,
	[MORT_OPTION_PRM_VARIANCE][decimal](10,5) NULL,
	[LEND_PAYEE_CODE_MATCH_NO] [bigint] NULL,
--IDs, STATUS
	[LOAN_ID] [bigint] NULL,
	[COLLATERAL_ID] [bigint] NULL,
	[PROPERTY_ID] [bigint] NULL,
	[REQUIREDCOVERAGE_ID] [bigint] NULL,
	[LOAN_STATUSCODE] [nvarchar] (2) NULL,
	[LOAN_STATUSMEANING_TX] [nvarchar](1000) NULL,
	[COLLATERAL_STATUSCODE] [nvarchar] (2) NULL,
	[COLLATERAL_STATUSMEANING_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_STATUSCODE] [nvarchar] (2) NULL,
	[REQUIREDCOVERAGE_STATUSMEANING_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_SUBSTATUSCODE] [nvarchar] (2) NULL,
	[REQUIREDCOVERAGE_INSSTATUSCODE] [nvarchar] (2) NULL,
	[REQUIREDCOVERAGE_INSSTATUSMEANING_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_INSSUBSTATUSCODE] [nvarchar] (2) NULL,
	[REQUIREDCOVERAGE_INSSUBSTATUSMEANING_TX] [nvarchar](1000) NULL,
-- PARAMETERS
	[REPORT_GROUPBY_TX] [nvarchar](1000) NULL,
	[REPORT_SORTBY_TX] [nvarchar](1000) NULL,
	[REPORT_HEADER_TX] [nvarchar](1000) NULL,
	[REPORT_FOOTER_TX] [nvarchar](1000) NULL
	
) ON [PRIMARY]
CREATE TABLE [dbo].[#tmpfilter](
	[ATTRIBUTE_CD] [nvarchar](50) NULL,
	[VALUE_TX] [nvarchar](50) NULL
) ON [PRIMARY]

--Use the FIL_ ref codes to specify custom logic 
Insert into #tmpfilter (
	ATTRIBUTE_CD,
	VALUE_TX)
Select 
RAD.ATTRIBUTE_CD,
Case 
  when Custom.VALUE_TX is not NULL then Custom.VALUE_TX
  when RA.VALUE_TX is not NULL then RA.VALUE_TX
  else RAD.VALUE_TX
End as VALUE_TX
from REF_CODE RC 
Join REF_CODE_ATTRIBUTE RAD on RAD.DOMAIN_CD = RC.DOMAIN_CD and RAD.REF_CD = 'DEFAULT' and RAD.ATTRIBUTE_CD like 'FIL%'
left Join REF_CODE_ATTRIBUTE RA on RA.DOMAIN_CD = RC.DOMAIN_CD and RA.REF_CD = RC.CODE_CD and RA.ATTRIBUTE_CD = RAD.ATTRIBUTE_CD
left Join 
  (
  Select CODE_TX,REPORT_CD,REPORT_DOMAIN_CD,REPORT_REF_ATTRIBUTE_CD,VALUE_TX from REPORT_CONFIG RC
  Join REPORT_CONFIG_ATTRIBUTE RCA on RCA.REPORT_CONFIG_ID = RC.ID
  ) Custom
   on Custom.CODE_TX = @ReportConfig and Custom.REPORT_DOMAIN_CD = RAD.DOMAIN_CD and Custom.REPORT_REF_ATTRIBUTE_CD = RAD.ATTRIBUTE_CD --and Custom.REPORT_CD = @ReportConfig
where RC.DOMAIN_CD = @ReportDomainName and RC.CODE_CD = @ReportType


Select @ESCPRMEXCEP =  ISNULL(Value_TX, 'F') from #tmpfilter where ATTRIBUTE_CD = 'FIL_ESCPRMEXCEP'
Select @ESCPAYEECDEXCEP =  ISNULL(Value_TX, 'F') from #tmpfilter where ATTRIBUTE_CD = 'FIL_ESCPAYEECDEXCEP'

Select @LenderID=ID from LENDER where CODE_TX = @LenderCode and PURGE_DT is null
Select @UsePayeeCode = rd.VALUE_TX from RELATED_DATA rd join RELATED_DATA_DEF rdd
	on rdd.ID = rd.DEF_ID and rdd.NAME_TX = 'UsePayeeCode'
	where rd.RELATE_ID = @LenderID



Declare @RD_MISC1_ID as bigint
Select @RD_MISC1_ID = ID from RELATED_DATA_DEF where NAME_TX = 'Misc1'

Declare @GroupBySQL as varchar(1000)
Declare @SortBySQL as varchar(1000)
Declare @FilterBySQL as varchar(1000)
Declare @HeaderTx as varchar(1000)
Declare @FooterTx as varchar(1000)
Declare @FillerZero as varchar(18)
Declare @RecordCount as bigint

Set @FillerZero = '000000000000000000'
Set @RecordCount = 0


IF @GroupByCode IS NULL OR @GroupByCode = ''
	SELECT @GroupBySQL=GROUP_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
ELSE
	SELECT @GroupBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_GroupBy' AND CODE_CD = @GroupByCode

IF @SortByCode IS NULL OR @SortByCode = ''
	SELECT @SortBySQL=SORT_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
ELSE
	SELECT @SortBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_SortBy' AND CODE_CD = @SortByCode

IF @FilterByCode IS NULL OR @FilterByCode = ''
	SELECT @FilterBySQL=FILTER_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
Else
	SELECT @FilterBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_FilterBy' AND CODE_CD = @FilterByCode

Select @HeaderTx=HEADER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig
Select @FooterTx=FOOTER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig 


Insert into #tmptable (
LOAN_BRANCHCODE_TX, LOAN_DIVISIONCODE_TX, LOAN_TYPE_TX, REQUIREDCOVERAGE_CODE_TX, REQUIREDCOVERAGE_TYPE_TX, 
--LOAN
LOAN_NUMBER_TX, LOAN_NUMBERSORT_TX,
--LENDER
LENDER_CODE_TX, LENDER_NAME_TX,
--LOAN RELATED DATA
[MISC1_TX],
--OWNER
OWNER_LASTNAME_TX, OWNER_FIRSTNAME_TX, OWNER_MIDDLEINITIAL_TX, OWNER_NAME_TX,
OWNER_LINE1_TX, OWNER_LINE2_TX, OWNER_CITY_TX, OWNER_STATE_TX, OWNER_ZIP_TX,
--PROPERTY
COLLATERAL_LINE1_TX, COLLATERAL_LINE2_TX, COLLATERAL_CITY_TX, COLLATERAL_STATE_TX, COLLATERAL_ZIP_TX, 
--COVERAGE
COVERAGE_STATUS_TX, NOTICE_DT,NOTICE_TYPE_TX,NOTICE_SEQ_NO,
--BORROWER INSURANCE
BORRINSCOMPANY_NAME_TX, BORRINSCOMPANY_LINE1_TX, BORRINSCOMPANY_LINE2_TX, BORRINSCOMPANY_CITY_TX, BORRINSCOMPANY_STATE_TX, BORRINSCOMPANY_ZIP_TX,
BORRINSCOMPANY_POLICY_NO, BORRINSCOMPANY_EFF_DT, BORRINSCOMPANY_EXP_DT, 
--ESCROW
ESCROW_DUE_DT,ESCROW_PREMIUM_NO,ESCROW_OTHER_NO,ESCROW_FEE_NO,ESCROW_TOTAL_NO,ESCROW_PRIOR_TOTAL_NO,ESCROW_PAYEE_CODE_TX,ESCROW_TOTAL_AMT_CHG_DT,MORT_OPTION_PRM_VARIANCE,LEND_PAYEE_CODE_MATCH_NO,	 
--IDs, STATUS
LOAN_ID, COLLATERAL_ID, PROPERTY_ID, REQUIREDCOVERAGE_ID, 
LOAN_STATUSCODE, LOAN_STATUSMEANING_TX, COLLATERAL_STATUSCODE, COLLATERAL_STATUSMEANING_TX,
REQUIREDCOVERAGE_STATUSCODE, REQUIREDCOVERAGE_STATUSMEANING_TX, REQUIREDCOVERAGE_SUBSTATUSCODE,
REQUIREDCOVERAGE_INSSTATUSCODE, REQUIREDCOVERAGE_INSSTATUSMEANING_TX,
REQUIREDCOVERAGE_INSSUBSTATUSCODE, REQUIREDCOVERAGE_INSSUBSTATUSMEANING_TX)

Select (CASE when L.BRANCH_CODE_TX is null or L.BRANCH_CODE_TX = '' then 'No Branch' else L.BRANCH_CODE_TX END) as [LOAN_BRANCHCODE_TX],
	   CASE WHEN ISNULL(L.DIVISION_CODE_TX,'') = ''
			THEN '0'
			ELSE L.DIVISION_CODE_TX
	   END AS [LOAN_DIVISIONCODE_TX],
	   ISNULL(RC_DIVISION.DESCRIPTION_TX,RC_SC.DESCRIPTION_TX) AS [LOAN_TYPE_TX],
	   RC.TYPE_CD as [REQUIREDCOVERAGE_CODE_TX], 
	   RC_COVERAGETYPE.MEANING_TX as [REQUIREDCOVERAGE_TYPE_TX], 
--LOAN
	   L.NUMBER_TX as [LOAN_NUMBER_TX], 
	   SUBSTRING(@FillerZero, 1, 18 - len(L.NUMBER_TX)) + CAST(L.NUMBER_TX AS nvarchar(18)) AS [LOAN_NUMBERSORT_TX],
--LENDER
	   LND.CODE_TX as [LENDER_CODE_TX], 
	   LND.NAME_TX as [LENDER_NAME_TX],
--LOAN RELATED DATA
	   isnull(RD.VALUE_TX,'') as [MISC1_TX],
--OWNER
       O.LAST_NAME_TX AS OWNER_LASTNAME_TX, 
	   O.FIRST_NAME_TX AS OWNER_FIRSTNAME_TX, 
	   O.MIDDLE_INITIAL_TX AS OWNER_MIDDLEINITIAL_TX,
       CASE WHEN O.FIRST_NAME_TX IS NULL THEN O.LAST_NAME_TX ELSE RTRIM(O.LAST_NAME_TX + ', ' + ISNULL(O.FIRST_NAME_TX,'') + ' ' + ISNULL(O.MIDDLE_INITIAL_TX,'')) END AS [OWNER_NAME_TX],
       AO.LINE_1_TX as OWNER_LINE1_TX, 
	   AO.LINE_2_TX as OWNER_LINE2_TX,
       AO.CITY_TX as OWNER_CITY_TX, 
	   AO.STATE_PROV_TX as OWNER_STATE_TX, 
	   AO.POSTAL_CODE_TX as OWNER_ZIP_TX,
--PROPERTY
       AM.LINE_1_TX as [COLLATERAL_LINE1_TX], 
	   AM.LINE_2_TX as [COLLATERAL_LINE2_TX],
       AM.CITY_TX as [COLLATERAL_CITY_TX], 
	   AM.STATE_PROV_TX as [COLLATERAL_STATE_TX], 
	   AM.POSTAL_CODE_TX as [COLLATERAL_ZIP_TX], 
--COVERAGE
	   '' as [COVERAGE_STATUS_TX],
	   RC.NOTICE_DT as [NOTICE_DT],
	   NRef.MEANING_TX as [NOTICE_TYPE_TX], 
	   RC.NOTICE_SEQ_NO as [NOTICE_SEQ_NO],
--BORROWER INSURANCE
       BIC.NAME as [BORRINSCOMPANY_NAME_TX], 
	   AE.LINE_1_TX as [BORRINSCOMPANY_LINE1_TX], 
	   AE.LINE_2_TX as [BORRINSCOMPANY_LINE2_TX], 
	   AE.CITY_TX as [BORRINSCOMPANY_CITY_TX],
	   AE.STATE_PROV_TX as [BORRINSCOMPANY_STATE_TX],
	   AE.POSTAL_CODE_TX as [BORRINSCOMPANY_ZIP_TX],
       E.POLICY_NUMBER_TX as [BORRINSCOMPANY_POLICY_NO],
	   E.DUE_DT as [BORRINSCOMPANY_EFF_DT], 
	   Case 
         when year(E.END_DT) = '9999' then NULL
         else E.END_DT
       End as [BORRINSCOMPANY_EXP_DT],  
--ESCROW
		E.DUE_DT as [ESCROW_DUE_DT], 
		E.PREMIUM_NO as [ESCROW_PREMIUM_NO], 
		E.OTHER_NO as [ESCROW_OTHER_NO], 
		E.FEE_NO as [ESCROW_FEE_NO], 
		E.TOTAL_AMOUNT_NO as [ESCROW_TOTAL_NO],
		E.ORIGINAL_TOTAL_AMT_NO AS [ESCROW_PRIOR_TOTAL_NO],
		PC.PAYEE_CODE_TX as [ESCROW_PAYEE_CODE_TX],
		E.TOTAL_AMT_CHG_DT AS [ESCROW_TOTAL_AMT_CHG_DT],
		ISNULL(RC.MortgageOptionPremVariance, 0) AS [MORT_OPTION_PRM_VARIANCE],
		PC.ID AS [LEND_PAYEE_CODE_MATCH_NO],
--IDs, STATUS
       L.ID as [LOAN_ID], 
       C.ID as [COLLATERAL_ID], 
       P.ID as [PROPERTY_ID], 
       RC.ID as [REQUIREDCOVERAGE_ID], 
       L.STATUS_CD as [LOAN_STATUSCODE], 
	   LSRef.MEANING_TX as [LOAN_STATUSMEANING_TX], 
       C.STATUS_CD as [COLLATERAL_STATUSCODE], 
	   CSRef.MEANING_TX as [COLLATERAL_STATUSMEANING_TX],
       RC.STATUS_CD as [REQUIREDCOVERAGE_STATUSCODE],
	   RCSRef.MEANING_TX as [REQUIREDCOVERAGE_STATUSMEANING_TX],
       RC.SUB_STATUS_CD as [REQUIREDCOVERAGE_SUBSTATUSCODE],
       RC.SUMMARY_STATUS_CD as [REQUIREDCOVERAGE_INSSTATUSCODE],
	   ISNULL(RCISRef.MEANING_TX, 'NOTAVAIL') as [REQUIREDCOVERAGE_INSSTATUSMEANING_TX],
       RC.SUMMARY_SUB_STATUS_CD as [REQUIREDCOVERAGE_INSSUBSTATUSCODE], 
	   RCISSRef.MEANING_TX as [REQUIREDCOVERAGE_INSSUBSTATUSMEANING_TX]                

from PROPERTY P 
Join COLLATERAL C on C.PROPERTY_ID = P.ID AND C.PURGE_DT IS NULL
Join LOAN L on L.ID = C.LOAN_ID and L.LENDER_ID = P.LENDER_ID AND L.PURGE_DT IS NULL

CROSS APPLY 
(
	SELECT max(E.ID) as ID,MAX(E.POLICY_NUMBER_TX) as POLICY_NUMBER_TX, MAX(E.DUE_DT) as DUE_DT, max(E.END_DT) as END_DT,
	max(E.STATUS_CD) as STATUS_CD, MAX(E.PREMIUM_NO) as PREMIUM_NO, MAX(E.OTHER_NO) as OTHER_NO, MAX(E.FEE_NO) as FEE_NO,
	max(E.TOTAL_AMOUNT_NO) as TOTAL_AMOUNT_NO, MAX(E.ORIGINAL_TOTAL_AMT_NO) as ORIGINAL_TOTAL_AMT_NO, 
	MAX(E.TOTAL_AMT_CHG_DT) as TOTAL_AMT_CHG_DT, MAX(E.REMITTANCE_ADDR_ID) as REMITTANCE_ADDR_ID, MAX(E.BIC_ID) as BIC_ID,
	MAX(E.RECORD_TYPE_CD) as RECORD_TYPE_CD
	FROM ESCROW E 
	join ESCROW_REQUIRED_COVERAGE_RELATE ERCR on E.ID = ERCR.ESCROW_ID AND ERCR.PURGE_DT IS NULL
	where E.LOAN_ID = L.ID 
	AND E.PROPERTY_ID = P.ID 
	AND E.PURGE_DT IS NULL 
	group by ERCR.REQUIRED_COVERAGE_ID
) AS E

Join LENDER LND on LND.ID = L.LENDER_ID AND LND.PURGE_DT IS NULL
left JOIN LENDER_ORGANIZATION LO ON LO.LENDER_ID = L.LENDER_ID AND LO.TYPE_CD = 'BRCH' AND LO.CODE_TX = L.BRANCH_CODE_TX and LO.PURGE_DT is null
Join OWNER_LOAN_RELATE OL on OL.LOAN_ID = L.ID AND OL.PRIMARY_IN = 'Y' AND OL.PURGE_DT IS NULL
Join [OWNER] O on O.ID = OL.OWNER_ID AND O.PURGE_DT IS NULL
left Join OWNER_ADDRESS AO on AO.ID = O.ADDRESS_ID AND AO.PURGE_DT IS NULL
left Join OWNER_ADDRESS AM on AM.ID = P.ADDRESS_ID AND AM.PURGE_DT IS NULL
left Join [ADDRESS] AE on AE.ID = E.REMITTANCE_ADDR_ID and AE.PURGE_DT IS NULL
left join ESCROW_REQUIRED_COVERAGE_RELATE ERCR ON E.ID = ERCR.ESCROW_ID AND ERCR.PURGE_DT IS NULL
left Join REQUIRED_COVERAGE RC on ERCR.REQUIRED_COVERAGE_ID = RC.ID AND RC.PURGE_DT IS NULL
left Join BORROWER_INSURANCE_COMPANY BIC on BIC.ID = E.BIC_ID AND BIC.PURGE_DT IS NULL
LEFT Join RELATED_DATA RD on RD.RELATE_ID = L.ID and DEF_ID = @RD_MISC1_ID

OUTER APPLY
(
	SELECT DISTINCT LM.ID,LF.PAYEE_CODE_TX 
	FROM LENDER_PAYEE_CODE_MATCH LM 
	JOIN LENDER_PAYEE_CODE_FILE LF ON LF.ID = LM.LENDER_PAYEE_CODE_FILE_ID
	WHERE LF.LENDER_ID = L.LENDER_ID AND LF.AGENCY_ID = L.AGENCY_ID
	AND LM.REMITTANCE_ADDR_ID = E.REMITTANCE_ADDR_ID
	AND (LM.BIC_ID = E.BIC_ID OR LM.REMITTANCE_TYPE_CD = 'BIA')
	AND LM.PRIMARY_IN = 'Y' 	  
	AND (LF.BRCH_LENDER_ORG_ID = LO.ID 
		OR ISNULL(LF.BRCH_LENDER_ORG_ID ,0) = 0)
	AND LF.PURGE_DT IS NULL 
	AND LM.PURGE_DT IS NULL
) AS PC		

left Join REF_CODE NRef on NRef.DOMAIN_CD = 'NoticeType' and NRef.CODE_CD = RC.NOTICE_TYPE_CD 
left Join REF_CODE LSRef on LSRef.DOMAIN_CD = 'LoanStatus' and LSRef.CODE_CD = L.STATUS_CD 
left Join REF_CODE CSRef on CSRef.DOMAIN_CD = 'CollateralStatus' and CSRef.CODE_CD = C.STATUS_CD 
left Join REF_CODE RCSRef on RCSRef.DOMAIN_CD = 'RequiredCoverageStatus' and RCSRef.CODE_CD = RC.STATUS_CD 
left Join REF_CODE RCISRef on RCISRef.DOMAIN_CD = 'RequiredCoverageInsStatus' and RCISRef.CODE_CD = RC.SUMMARY_STATUS_CD 
left Join REF_CODE RCISSRef on RCISSRef.DOMAIN_CD = 'RequiredCoverageInsSubStatus' and RCISSRef.CODE_CD = RC.SUMMARY_SUB_STATUS_CD 
left Join REF_CODE RC_DIVISION on RC_DIVISION.DOMAIN_CD = 'ContractType' and RC_DIVISION.CODE_CD = L.DIVISION_CODE_TX --and RC_DIVISION.AGENCY_ID = 1
left Join REF_CODE RC_COVERAGETYPE on RC_COVERAGETYPE.DOMAIN_CD = 'Coverage' and RC_COVERAGETYPE.CODE_CD = RC.TYPE_CD 
LEFT JOIN COLLATERAL_CODE CC ON CC.ID = C.COLLATERAL_CODE_ID AND CC.PURGE_DT IS NULL
left Join REF_CODE RC_SC on RC_SC.DOMAIN_CD = 'SecondaryClassification' AND CC.SECONDARY_CLASS_CD = RC_SC.CODE_CD
left Join REF_CODE_ATTRIBUTE RCA_PROP on RC_SC.DOMAIN_CD = RCA_PROP.DOMAIN_CD and RC_SC.CODE_CD = RCA_PROP.REF_CD and RCA_PROP.ATTRIBUTE_CD = 'PropertyType'
CROSS APPLY dbo.fn_FilterCollateralByDivisionCd(C.ID, @Division) fn_FCBD
where 
L.RECORD_TYPE_CD = 'G' and P.RECORD_TYPE_CD = 'G' and RC.RECORD_TYPE_CD = 'G' and E.RECORD_TYPE_CD = 'G' and
L.EXTRACT_UNMATCH_COUNT_NO = 0 and C.EXTRACT_UNMATCH_COUNT_NO = 0 and
L.STATUS_CD != 'U' and C.STATUS_CD != 'U' and
P.PURGE_DT IS NULL AND	
P.LENDER_ID = @LenderID
and
(L.BRANCH_CODE_TX IN (SELECT STRVALUE FROM @BranchTable) or @Branch = '1' or @Branch = '' or @Branch is NULL)
AND fn_FCBD.loanType IS NOT NULL
and
(RC.TYPE_CD = @Coverage or @Coverage = '1' or @Coverage is NULL)

Declare @sqlstring as nvarchar(1000)
If isnull(@FilterBySQL,'') <> '' 
Begin
  Select * into #t1 from #tmptable 
  truncate table #tmptable

  Set @sqlstring = N'Insert into #tmpTable
                     Select * from dbo.#t1 where ' + @FilterBySQL
  --print @sqlstring
  EXECUTE sp_executesql @sqlstring
End  

--Report-specific logic

SELECT * INTO #T2 FROM #tmpTable 
TRUNCATE TABLE #tmpTable
			  
INSERT INTO #tmpTable SELECT * FROM dbo.#T2 WHERE 
	(@ESCPRMEXCEP = 'F' OR (@ESCPRMEXCEP = 'T' AND  [ESCROW_TOTAL_AMT_CHG_DT] is not null and isnull([ESCROW_PRIOR_TOTAL_NO], 0) > 0 AND
		(abs([ESCROW_TOTAL_NO] - isnull([ESCROW_PRIOR_TOTAL_NO],0)) >= isnull([ESCROW_PRIOR_TOTAL_NO],0) * ISNULL([MORT_OPTION_PRM_VARIANCE],0))))
		AND (@ESCPAYEECDEXCEP = 'F' OR (@ESCPAYEECDEXCEP = 'T' AND @UsePayeeCode = 'true' AND [LEND_PAYEE_CODE_MATCH_NO] IS NULL))


Set @sqlstring = N'Update #tmpTable Set [REPORT_GROUPBY_TX] = ' + @GroupBySQL
EXECUTE sp_executesql @sqlstring

Set @sqlstring = N'Update #tmpTable Set [REPORT_SORTBY_TX] = ' + @SortBySQL
EXECUTE sp_executesql @sqlstring

If isnull(@HeaderTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_HEADER_TX] = ' + @HeaderTx
	EXECUTE sp_executesql @sqlstring
End

If isnull(@FooterTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_FOOTER_TX] = ' + @FooterTx
	EXECUTE sp_executesql @sqlstring
End

SELECT @RecordCount = COUNT(*) from #tmptable
--print @RecordCount

IF @Report_History_ID IS NOT NULL
BEGIN

  Update [UNITRAC-REPORTS].[UNITRAC].DBO.REPORT_HISTORY_NOXML
  Set RECORD_COUNT_NO = @RecordCount
  where ID = @Report_History_ID
    
END


Select * from #tmptable

END

