/*  
	Script Title:	Update UniTrac-PreProd after restore from Production
    Created by:		Steve Moran
	Date/Time:		2011-03-18 13:14:25.837
	Description:	Run this script after a restore has been done
					on the UniTrac-PreProd server against the UniTrac datbase
*/
USE UniTrac

SELECT * FROM dbo.REF_CODE WHERE DOMAIN_CD IN ('SSRSCONFIGINFO','system')

Update REF_CODE Set Meaning_TX = 'http://UNITRAC-PREPROD/UniTracServer/Help/Help.htm' 
where CODE_CD = 'HelpFileURL' and DOMAIN_CD = 'System' 

Update REF_CODE Set Meaning_TX = 'flNVdN5QdgKa6ZTJkXPz2Qcpaqlgap1OMgJnN4nTvxwXXly+OogMLQ==' 
where CODE_CD = 'Password' and DOMAIN_CD = 'SSRSConfigInfo'

Update REF_CODE Set Meaning_TX = 'http://unitrac-preprod/ReportServer_SQLSERVER' 
where CODE_CD = 'ServerUrl' and DOMAIN_CD = 'SSRSConfigInfo'

Update REF_CODE Set Meaning_TX = 'UniTracAppUser' 
where CODE_CD = 'UserId' and DOMAIN_CD = 'SSRSConfigInfo'

Update REF_CODE Set Meaning_TX = 'http://unitrac-preprod/ReportServer_SQLSERVER/ReportExecution2014.asmx' 
where CODE_CD = 'ReportExecutionServiceUrl' and DOMAIN_CD = 'SSRSConfigInfo'

Update REF_CODE Set Meaning_TX = 'http://unitrac-preprod/ReportServer_SQLSERVER/ReportExecution2014.asmx' 
where CODE_CD = 'ReportServiceUrl' and DOMAIN_CD = 'SSRSConfigInfo'

--Update CONNECTION_DESCRIPTOR Set SERVER_TX = 'UTSTAGE01', 
--USERNAME_TX = 'nClZlXE2ktrN5UdonQgfWMV9leEPNo96CTTKyO0zp8c=', 
--PASSWORD_TX = 'flNVdN5QdgKa6ZTJkXPz2Qcpaqlgap1OMgJnN4nTvxwXXly+OogMLQ==' where ID = 1

------------------------ validate ----------------------------
SELECT * FROM UniTrac..REF_CODE
WHERE CODE_CD = 'PASSWORD' AND DOMAIN_CD = 'SSRSConfigInfo'

SELECT * FROM UniTrac..REF_CODE
WHERE CODE_CD = 'ServerUrl' AND DOMAIN_CD = 'SSRSConfigInfo'

SELECT * FROM  UniTrac..REF_CODE 
where CODE_CD = 'UserId' and DOMAIN_CD = 'SSRSConfigInfo'

SELECT * FROM UniTrac..USERS where USER_NAME_TX = 'admin'

SELECT * FROM UniTrac..USERS where USER_NAME_TX = 'MsgSrvr'

SELECT * FROM UniTrac..USERS where USER_NAME_TX = 'LDHSrvr'


------------------------- validate -----------------------------------

----------- CONNECTION DESCRIPTORS OY!!! -------------------------------
USE [UniTrac]
GO

--DELETE FROM CONNECTION_DESCRIPTOR
--WHERE ID NOT IN (1,3,29,35,36,37,38,39,40,41)

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = 'UT-PREPROD-1'
WHERE NAME_TX = 'UniTracDW'

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = '10.10.18.25'
WHERE NAME_TX = 'VUT_Agency'

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = 'UTSTAGE01',USERNAME_TX = 'ykGX/FdKYchEg5OZ0B7PIA==',PASSWORD_TX = 'ykGX/FdKYchEg5OZ0B7PIA=='
WHERE NAME_TX = 'Scan'

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = 'UT-PREPROD-1'
WHERE NAME_TX = 'PERFLOG'

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = 'UTSTAGE01'
WHERE NAME_TX = 'UniTracArchive'

UPDATE CONNECTION_DESCRIPTOR
SET SERVER_TX = 'UTSTAGE01'
WHERE NAME_TX IN ('NADA-VehicleUC','NADA-VehicleCT')
----- Reset admin account password to be the same between UT-QA and UT-PROD -----------
update users set PASSWORD_TX = 'OOo2uY6cqEVRVagK2TRCCg==' where USER_NAME_TX = 'admin'

update users set PASSWORD_TX = 'OOo2uY6cqEVRVagK2TRCCg==' where USER_NAME_TX = 'MsgSrvr'

update users set PASSWORD_TX = 'kbi6PwjuYdDFYxAp2Y5JWw==' where USER_NAME_TX = 'LDHSrvr'

----- Restart CDC Access for VUTTransition Package (Collateral Codes) --------
exec sp_cdc_enable_db

go

 

EXEC sys.sp_cdc_enable_table

      @source_schema = 'dbo',

      @source_name = 'COLLATERAL_CODE',

      @role_name = 'CDCRole',

      @supports_net_changes = 1,

      @capture_instance = 'dbo_COLLATERAL_CODE',

      @captured_column_list = NULL

      Go

