USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Support_Backoff_AutoOBCall]    Script Date: 12/19/2017 7:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DECLARE

@processLogID NVARCHAR(255)

SELECT @processLogID = RELATE_ID FROM dbo.WORK_ITEM WHERE ID =  ''

BEGIN	
	SET NOCOUNT ON

    UPDATE IH SET PURGE_DT = GETDATE() ,
    UPDATE_DT = GETDATE() , UPDATE_USER_TX = 'CYCBACKOFF' ,
    LOCK_ID = (IH.LOCK_ID % 255) + 1	
	--SELECT IH.*		
	FROM INTERACTION_HISTORY IH 
	JOIN dbo.PROCESS_LOG_ITEM PLI ON PLI.RELATE_ID = IH.RELATE_ID AND IH.TYPE_CD = 'NOTICE'
	WHERE PLI.PROCESS_LOG_ID IN (@ProcessLogID)
	
	
	UPDATE EE set STATUS_CD = 'CLR', 
	PURGE_DT = GETDATE(), UPDATE_USER_TX = 'CYCBACKOFF',
	UPDATE_DT = GETDATE() , LOCK_ID = (LOCK_ID % 255) + 1
		--SELECT EE.* 
	FROM dbo.EVALUATION_EVENT EE 
	JOIN dbo.PROCESS_LOG_ITEM PLI ON PLI.RELATE_ID = EE.REQUIRED_COVERAGE_ID AND PLI.RELATE_TYPE_CD = 'Allied.UniTrac.RequiredCoverage'
	WHERE PLI.PROCESS_LOG_ID IN (@ProcessLogID) AND EE.STATUS_CD = 'PEND'
    AND EVENT_SEQUENCE_ID IS NOT NULL


   UPDATE RC SET LAST_EVENT_DT = NULL , 
    LAST_EVENT_SEQ_ID = NULL , LAST_SEQ_CONTAINER_ID = NULL ,
    UPDATE_USER_TX = 'CYCBACKOFF', UPDATE_DT = GETDATE() , 
    LOCK_ID = (LOCK_ID % 255) + 1
			--SELECT EE.* 
		FROM dbo.REQUIRED_COVERAGE RC 
	JOIN dbo.PROCESS_LOG_ITEM PLI ON PLI.RELATE_ID = EE.ID AND PLI.RELATE_TYPE_CD = 'Allied.UniTrac.RequiredCoverage'
	WHERE PLI.PROCESS_LOG_ID IN (@ProcessLogID)

	
END

