USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Support_Backoff_Certificates]    Script Date: 12/19/2017 7:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



DECLARE @ProcessLogID NVARCHAR(255)
DECLARE @evaluationEventId NVARCHAR(255)
DECLARE @processDate DATE 

SET @ProcessLogID  = 54201021
SET @processDate = '2017-12-14 02:52:58.440'

BEGIN
	
	SET NOCOUNT ON
	
	IF OBJECT_ID(N'tempdb..#tmpPrint',N'U') IS NOT NULL
       DROP TABLE #tmpPrint   
       
	Create Table #tmpPrint
	(	
	  DOCUMENT_CONTAINER_ID BIGINT
    )
    
    INSERT INTO #tmpPrint
    (
       DOCUMENT_CONTAINER_ID
    )
    SELECT DC.ID
    FROM EVALUATION_EVENT EE 
    JOIN DOCUMENT_CONTAINER DC ON DC.RELATE_CLASS_NAME_TX = EE.RELATE_TYPE_CD
    AND DC.RELATE_ID = EE.RELATE_ID
    WHERE EE.ID IN ( SELECT   EVALUATION_EVENT_ID FROM dbo.PROCESS_LOG_ITEM
WHERE PROCESS_LOG_ID = @ProcessLogID )
    AND EE.TYPE_CD = 'PRNT'
    AND DC.PURGE_DT IS NULL
    AND EE.STATUS_CD = 'COMP'  
    AND DATEDIFF ( DAY , DC.CREATE_DT , @processDate ) = 0   

    UPDATE EE SET STATUS_CD = 'PEND' , LOCK_ID = (LOCK_ID % 255) + 1 , 
    UPDATE_USER_TX = 'CYCBACKOFF' , UPDATE_DT = GETDATE()
 --  SELECT *
    FROM EVALUATION_EVENT EE WHERE ID IN  ( SELECT   EVALUATION_EVENT_ID FROM dbo.PROCESS_LOG_ITEM
WHERE PROCESS_LOG_ID = @ProcessLogID )
    
    UPDATE DC SET PURGE_DT = GETDATE() , LOCK_ID = (LOCK_ID % 255) + 1 ,
    UPDATE_USER_TX = 'CYCBACKOFF' , UPDATE_DT = GETDATE()
	--SELECT TMP.*
    FROM DOCUMENT_CONTAINER DC JOIN #tmpPrint TMP ON 
    TMP.DOCUMENT_CONTAINER_ID = DC.ID
    WHERE DC.PURGE_DT IS NULL
    
END


