USE [IQQ_TRAINING]
GO
/****** Object:  Table [dbo].[RESPONSE]    Script Date: 7/23/2021 10:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RELATE_ID] [bigint] NULL,
	[RELATE_CLASS_ID] [int] NULL,
	[TYPE_CD] [nvarchar](255) NULL,
	[PRODUCT_ID] [bigint] NULL,
	[ENCODING_NO] [int] NULL,
	[DATA_BIN] [varbinary](max) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CREATE_DT] [datetime2](7) NOT NULL,
	[UPDATE_DT] [datetime2](7) NOT NULL,
	[PURGE_DT] [datetime2](7) NULL,
	[UPDATE_USER_TX] [nvarchar](320) NOT NULL,
	[LOCK_ID] [tinyint] NOT NULL,
 CONSTRAINT [PK_RESPONSE_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSE_LOG]    Script Date: 7/23/2021 10:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSE_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TYPE_CD] [nvarchar](4) NOT NULL,
	[PROVIDER_TX] [nvarchar](64) NOT NULL,
	[PRODUCT_TX] [nvarchar](64) NOT NULL,
	[CONTEXT_GUID] [uniqueidentifier] NULL,
	[RELATE_ID] [bigint] NULL,
	[ELAPSED_TIME_NO] [bigint] NULL,
	[RESPONSE_TX] [nvarchar](max) NOT NULL,
	[PURGE_DT] [datetime2](7) NULL,
	[CREATE_DT] [datetime2](7) NOT NULL,
	[UPDATE_DT] [datetime2](7) NULL,
	[UPDATE_USER_TX] [nvarchar](320) NOT NULL,
	[LOCK_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RESPONSE] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[RESPONSE] ADD  DEFAULT (sysutcdatetime()) FOR [CREATE_DT]
GO
ALTER TABLE [dbo].[RESPONSE] ADD  DEFAULT (sysutcdatetime()) FOR [UPDATE_DT]
GO
ALTER TABLE [dbo].[RESPONSE] ADD  DEFAULT ((1)) FOR [LOCK_ID]
GO
