SELECT * FROM [UniTrac_DW].[dbo].[PS_HEAD_COUNT_FACT]
where CREATE_DT > '2015-01-01'
AND CREATE_DT < '2015-01-31'
AND MONTH_ID = 84
order by PS_JOB_CD
--- For November, 2014 (479 recs, run 12/16/14) -----
--where CREATE_DT > '2014-12-01'
--AND CREATE_DT < '2014-12-31'
--AND MONTH_ID = 83
--order by PS_JOB_CD
--- For October, 2014 (472 recs, run 12/16/14) -----
--where CREATE_DT > '2014-12-01'
--AND CREATE_DT < '2014-12-31'
--order by PS_JOB_CD
--- For September, 2014 (469 recs, run 10/15/14) -----
--where CREATE_DT > '2014-10-01'
--AND CREATE_DT < '2014-10-31'
--order by PS_JOB_CD
--- For December, 2012 (376 recs, run 01/09/13) -----
--where CREATE_DT > '2013-01-01'
--AND CREATE_DT < '2013-01-31'
--order by PS_JOB_CD
--- For November, 2012 (373 recs, run 11/02/12) -----
--where CREATE_DT > '2012-12-01'
--AND CREATE_DT < '2012-12-31'
--order by PS_JOB_CD
--- For October, 2012 (373 recs, run 11/02/12) -----
--where CREATE_DT > '2012-11-01'
--AND CREATE_DT < '2012-11-30'
--order by PS_JOB_CD
--- For September, 2012 (380 recs, run 09/02/12) -----
--where CREATE_DT > '2012-10-01'
--AND CREATE_DT < '2012-10-31'
--order by PS_JOB_CD
----- For August, 2012 (380 recs, run 09/02/12) -----
--where CREATE_DT > '2012-09-01'
--AND CREATE_DT < '2012-09-30'
--order by PS_JOB_CD
----- For December, 2011 (362 recs, run 01/01/12) -----
--where CREATE_DT > '2012-01-01'
--AND CREATE_DT < '2012-01-31'
--order by PS_JOB_CD
----- For November, 2011 (358 recs, run 12/04/11) -----
--where CREATE_DT > '2011-12-01'
--AND CREATE_DT < '2011-12-31'
--order by PS_JOB_CD
----- For October, 2011 (355 recs, run 11/06/11) -----
--where CREATE_DT > '2011-11-01'
--AND CREATE_DT < '2011-11-30'
--order by PS_JOB_CD
----- For September, 2011 (347 recs, run 10/01/11) -----
--where CREATE_DT > '2011-10-01'
--AND CREATE_DT < '2011-10-31'
--order by PS_JOB_CD
----- For August, 2011 (359 recs, run 9/04/11) -----
--where CREATE_DT > '2011-09-01'
--AND CREATE_DT < '2011-09-30'
--order by PS_JOB_CD
----- For July, 2011 (359 recs, run 8/07/11) -----
--where CREATE_DT > '2011-08-01'
--AND CREATE_DT < '2011-09-02'
--order by PS_JOB_CD
----- For June, 2011 (359 recs, run 7/02/11) -----
--where CREATE_DT > '2011-07-01'
--AND CREATE_DT < '2011-08-02'
--AND PS_JOB_CD IN ('000398','000403','000411')
--order by PS_JOB_CD
----- For May, 2011 (362 recs, run 6/05/11) -----
--where CREATE_DT > '2011-06-01'
--AND CREATE_DT < '2011-07-01'
--order by PS_JOB_CD
----- For April, 2011 (353 recs, run 5/12/11) -----
--where CREATE_DT > '2011-05-02'
--AND CREATE_DT < '2011-06-01'
--order by PS_JOB_CD
----- For March, 2011 (356 recs, run 4/3/11) -----
--where CREATE_DT > '2011-04-01'
--AND CREATE_DT < '2011-05-01'
--order by PS_JOB_CD
----- For February, 2011 (355 recs, run 3/6/11) -----
--where CREATE_DT > '2011-03-02'
--AND CREATE_DT < '2011-04-02'
--order by PS_JOB_CD
----- For January, 2011 (351 recs) -----
--where CREATE_DT > '2011-02-02'
--AND CREATE_DT < '2011-03-04'
--order by PS_JOB_CD
----- For December, 2010 (352 recs) -----
--where CREATE_DT > '2011-01-02'
--AND CREATE_DT < '2011-02-04'
----- For November, 2010 (354 recs)-----
--where CREATE_DT > '2010-12-04'
--AND CREATE_DT < '2011-01-02'
----- For October, 2010 (355 recs)-----
--where CREATE_DT > '2010-10-30'
--AND CREATE_DT < '2010-12-04'
----- For September, 2010 (350 recs)-----
--WHERE CREATE_DT > '2010-09-20'
--AND CREATE_DT < '2010-10-30'
---- For August, 2010 (352 recs)-----
--WHERE CREATE_DT > '2010-08-24'
--AND CREATE_DT < '2010-09-20'
---- For July, 2010 (355 recs)-----
--WHERE CREATE_DT > '2010-07-24'
--AND CREATE_DT < '2010-08-23'
---- For June, 2010 (2073 recs)-----
--WHERE CREATE_DT > '2010-06-24'
--AND CREATE_DT < '2010-07-24'
----- ID (row counter)-----
--WHERE ID = 5445
----- Job Title  
--WHERE PS_JOB_TITLE_TX LIKE 'ACCT PROCESSOR%'
----- Dept No. -----
-- DEPARTMENT_NO = '972'
  --ORDER BY CREATE_DT DESC