USE [UniTrac]
GO
/****** Object:  StoredProcedure [dbo].[Report_EOM]    Script Date: 8/31/2016 8:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


DECLARE 
@AgencyID As bigint,
	@CarrierCode AS nvarchar(20)=NULL,
	@AccountPeriodID AS bigint=NULL,
	@ReportType as nvarchar(50)=NULL,
	@GroupByCode as nvarchar(50)=NULL,
	@SortByCode as nvarchar(50)=NULL,
	@FilterByCode as nvarchar(50)=NULL,
	@ReportConfig as varchar(50)=NULL,
	@Report_History_ID as bigint=NULL

SET @AccountPeriodID = '355'
SET @AgencyID = '1'
SET @ReportConfig = 'PLCYTAXSUM'
SET @ReportType = 'PLCYTAXSUM'

BEGIN
SET NOCOUNT ON
--Get rid of residual #temp tables
IF OBJECT_ID(N'tempdb..#tmpfilter',N'U') IS NOT NULL
  DROP TABLE #tmpfilter
IF OBJECT_ID(N'tempdb..#tmptable',N'U') IS NOT NULL
  DROP TABLE #tmptable
IF OBJECT_ID(N'tempdb..#t1',N'U') IS NOT NULL
  DROP TABLE #t1
  
DECLARE @AP_ID AS bigint=NULL
DECLARE @AccountPeriod AS NVARCHAR(20)=NULL

SET @AccountPeriod = (SELECT CAST(YEAR_NO AS VARCHAR(4)) + '-' + CAST(PERIOD_NO AS VARCHAR(2)) FROM ACCOUNTING_PERIOD WHERE ID = @AccountPeriodID)
  
BEGIN

DECLARE @LenderID AS bigint
DECLARE @COMM_PCT AS [decimal](18, 4) = .35
	
DECLARE @GroupBySQL AS varchar(1000)=NULL
DECLARE @SortBySQL AS varchar(1000)=NULL
DECLARE @FilterBySQL AS varchar(1000)=NULL
DECLARE @HeaderTx AS varchar(1000)=NULL
DECLARE @FooterTx AS varchar(1000)=NULL
DECLARE @FillerZero AS varchar(18)
DECLARE @BeginDate As datetime2 (7)
DECLARE @EndDate AS datetime2 (7)
DECLARE @AP_START_DT AS datetime2 (7) = NULL
DECLARE @AP_END_DT AS datetime2 (7) = NULL
SELECT @AP_START_DT = START_DT, @AP_END_DT = END_DT FROM ACCOUNTING_PERIOD WHERE ID = @AccountPeriodID

DECLARE @PER_YEAR AS int=NULL
DECLARE @PER_NO AS int=NULL

SET @PER_YEAR = CAST(SUBSTRING(@AccountPeriod,1,4) AS INTEGER)
SET @PER_NO = CAST(SUBSTRING(@AccountPeriod,6,2) AS INTEGER)

DECLARE @FIL_HAS_TAX AS varchar(1)='F'
DECLARE @FIL_HAS_OTHER AS varchar(1)='F'
DECLARE @FIL_HAS_FEE AS varchar(1)='F'
DECLARE @FIL_ASSMI AS varchar(1)='F'
DECLARE @FIL_AGENT_CODE AS varchar(20)='NONE'

DECLARE @HASFEE AS varchar(1)=NULL
DECLARE @CUR_PERIOD As varchar(1)=NULL
DECLARE @RealReportConfig as varchar(50)=NULL

SET @FillerZero = '000000000000000000'
IF @ReportType IS NULL
	SET @ReportType = 'DEFAULT'
	
IF @ReportConfig IS NULL
	SET @ReportConfig = 'DEFAULT'
	
SET @RealReportConfig = @ReportConfig

IF @RealReportConfig = '0000'
	SET @RealReportConfig = @ReportType

IF ISNULL(@CarrierCode,'') IN('','ALL') 
	SET @CarrierCode = NULL
	
IF @RealReportConfig = 'PLCYTAX' OR @RealReportConfig = 'PLCYTAXSUM' OR @RealReportConfig = 'PLCYTAX_POSTDT' 
	SET @FIL_HAS_TAX = 'T'
IF @RealReportConfig = 'PLCYOTHER' OR @RealReportConfig = 'PLCYOTHERSUM' 
	SET @FIL_HAS_OTHER = 'T'
IF @RealReportConfig = 'PLCYFEES'
	SET @FIL_HAS_FEE = 'T'
IF @RealReportConfig = 'COMMSUM-MI'
	SET @FIL_ASSMI = 'T'
IF @RealReportConfig IN ('MTHCARR','COMMSUMM','COMMSUMM-MI')
	SET @FIL_AGENT_CODE = 'AGENCY'
IF @RealReportConfig IN ('LNDRCOM1','LNDRCOMMSUMM') 
	SET @FIL_AGENT_CODE = 'LENDER'

SET @BeginDate = NULL
SET @EndDate = NULL
DECLARE @RecordCount bigint = 0
DECLARE @sqlstring AS nvarchar(4000)

END;

CREATE TABLE [dbo].[#tmptable](
	[LOAN_TYPE_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_TYPE_TX] [nvarchar](1000) NULL,
	[REQUIREDCOVERAGE_CODE_TX] [nvarchar](30) NULL,
	[REQUIREDCOVERAGE_GROUP_TX] [nvarchar](30) NULL,
	[LOAN_NUMBER_TX] [nvarchar](18) NOT NULL,
	[LOAN_NUMBERSORT_TX] [nvarchar](36) NULL,
	[OWNER_LASTNAME_TX] [nvarchar](30) NOT NULL,
	[OWNER_FIRSTNAME_TX] [nvarchar](30) NOT NULL,
	[OWNER_MIDDLE_INITIAL_TX] [char](1) NOT NULL,
	[OWNER_NAME] [nvarchar](64) NULL,
	[OWNER_LINE1_TX] [nvarchar](100) NOT NULL,
	[OWNER_LINE2_TX] [nvarchar](100) NOT NULL,
	[OWNER_STATE_TX] [nvarchar](30) NOT NULL,
	[OWNER_CITY_TX] [nvarchar](40) NOT NULL,
	[OWNER_ZIP_TX] [nvarchar](30) NOT NULL,
	[INS_EXPIRE_DT] [datetime] NULL,
	[LOAN_BALANCE_NO] [decimal](19, 2) NULL,
	[COLLATERAL_CODE] [nvarchar](30) NULL,
	[COLLATERAL_NUMBER_NO] [int] NULL,
	[LENDER_COLLATERAL_CODE_TX] [nvarchar](10) NULL,
	[LOAN_BRANCHCODE_TX] [nvarchar](20) NULL,				
	[LOAN_DIVISIONCODE_TX] [nvarchar](20) NULL,				
	[LOAN_DIVISIONMEANING_TX] [nvarchar] (1000) NULL,		
	[LOAN_OFFICERCODE_TX] [nvarchar](20) NULL,			
	[LOAN_LENDERCODE_TX] [nvarchar](10) NULL,
	[LOAN_LENDERNAME_TX] [nvarchar](40) NOT NULL,
	[INSCOMPANY_NAME_TX] [nvarchar](100) NOT NULL,		
	[INSCOMPANY_POLICY_NO] [nvarchar](30) NOT NULL,
	[LOAN_CONTRACTTYPECODE] [nvarchar](30) NULL,
	[LOAN_STATUSCODE] [varchar](1) NOT NULL,
	[COLLATERAL_STATUSCODE] [varchar](2) NOT NULL,
	[REQUIREDCOVERAGE_STATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_SUBSTATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_INSSTATUSCODE] [varchar](2) NULL,
	[REQUIREDCOVERAGE_INSSUBSTATUSCODE] [varchar](2) NULL,
	[ACCT-PER] nvarchar(7) NULL,
	[AP_START_DT] [datetime2] (7) NULL,
	[AP_END_DT] [datetime2] (7) NULL,
	[CARRIER_ID] [bigint] NULL,
	[CARRIER_CODE_TX] nvarchar(20) NULL,			
	[CARRIER_NAME_TX] nvarchar(100) NULL,			
	[TXN_TYPE_CD] [nvarchar](10) NULL,
	[TXN_SUB_TYPE_MEANING_TX] [nvarchar](1000) NULL,		
	[TXN_DT] [datetime2](7) NULL,
	[PROCESSED_DT] [datetime2](7) NULL,
	[YEAR_NO] [int] NULL,
	[PERIOD_NO] [int] NULL,
	[ISS_AMOUNT_NO] [decimal](18, 2) NULL,
	[PRM_AMOUNT_NO] [decimal](18, 2) NULL,
	[FEE_AMOUNT_NO] [decimal](18, 2) NULL,
	[OTH_AMOUNT_NO] [decimal](18, 2) NULL,
	[TAX1_AMOUNT_NO] [decimal](18, 2) NULL,
	[TAX2_AMOUNT_NO] [decimal](18, 2) NULL,
	[TAX3_AMOUNT_NO] [decimal](18, 2) NULL,
	[TAX4_AMOUNT_NO] [decimal](18, 2) NULL,
	[TPREM_AMOUNT_NO] [decimal](18, 2) NULL,
	[IPRM_AMOUNT_NO] [decimal](18, 2) NULL,
	[IFEE_AMOUNT_NO] [decimal](18, 2) NULL,
	[IOTH_AMOUNT_NO] [decimal](18, 2) NULL,
	[ITAX1_AMOUNT_NO] [decimal](18, 2) NULL,
	[ITAX2_AMOUNT_NO] [decimal](18, 2) NULL,
	[ITAX3_AMOUNT_NO] [decimal](18, 2) NULL,
	[ITAX4_AMOUNT_NO] [decimal](18, 2) NULL,
	[ITPREM_AMOUNT_NO] [decimal](18, 2) NULL,
	[CPRM_AMOUNT_NO] [decimal](18, 2) NULL,
	[CFEE_AMOUNT_NO] [decimal](18, 2) NULL,
	[COTH_AMOUNT_NO] [decimal](18, 2) NULL,
	[CTAX1_AMOUNT_NO] [decimal](18, 2) NULL,
	[CTAX2_AMOUNT_NO] [decimal](18, 2) NULL,
	[CTAX3_AMOUNT_NO] [decimal](18, 2) NULL,
	[CTAX4_AMOUNT_NO] [decimal](18, 2) NULL,
	[CTPREM_AMOUNT_NO] [decimal](18, 2) NULL,
	[PROPERTY_DESCRIPTION] [nvarchar](max) NULL,
	[MONTHLY_BILLING_IN] [nvarchar](1) NULL,
	[COMM_PCT] [decimal](18, 4) NULL,
	[COMM_AMOUNT_NO] [decimal](18, 2) NULL,
	[ICOMM_AMOUNT_NO] [decimal](18, 2) NULL,
	[CCOMM_AMOUNT_NO] [decimal](18, 2) NULL,
	[REPORT_SORTBY_TX] [nvarchar](2114) NULL,
	[REPORT_GROUPBY_TX] [nvarchar](2012) NULL,
	[REPORT_FOOTER_TX] [varchar](2012) NULL
) ON [PRIMARY]

CREATE TABLE [dbo].[#tmpfilter](
	[ATTRIBUTE_CD] [nvarchar](50) NULL,
	[VALUE_TX] [nvarchar](50) NULL
) ON [PRIMARY]

INSERT INTO #tmpfilter 
	([ATTRIBUTE_CD]
	,[VALUE_TX])


SELECT
	RAD.ATTRIBUTE_CD,
	CASE 
		WHEN Custom.VALUE_TX IS NOT NULL then Custom.VALUE_TX
		WHEN RA.VALUE_TX IS NOT NULL then RA.VALUE_TX
		ELSE RAD.VALUE_TX
	END AS VALUE_TX
FROM REF_CODE RC
JOIN REF_CODE_ATTRIBUTE RAD ON RAD.DOMAIN_CD = RC.DOMAIN_CD AND RAD.REF_CD = 'DEFAULT' AND RAD.ATTRIBUTE_CD like 'FIL%'
LEFT JOIN REF_CODE_ATTRIBUTE RA ON RA.DOMAIN_CD = RC.DOMAIN_CD AND RA.REF_CD = RC.CODE_CD AND RA.ATTRIBUTE_CD = RAD.ATTRIBUTE_CD
LEFT JOIN 
	(SELECT CODE_TX,REPORT_CD,REPORT_DOMAIN_CD,REPORT_REF_ATTRIBUTE_CD,VALUE_TX FROM REPORT_CONFIG RC
	JOIN REPORT_CONFIG_ATTRIBUTE RCA ON RCA.REPORT_CONFIG_ID = RC.ID) CUSTOM
	ON CUSTOM.CODE_TX = @ReportConfig AND CUSTOM.REPORT_DOMAIN_CD = RAD.DOMAIN_CD AND CUSTOM.REPORT_REF_ATTRIBUTE_CD = RAD.ATTRIBUTE_CD AND CUSTOM.REPORT_CD = @ReportType
WHERE RC.DOMAIN_CD = 'Report_EOM' AND RC.CODE_CD = @ReportType

BEGIN --Set Filters, Groups, and Sorts
IF @GroupByCode IS NULL OR @GroupByCode = ''
	SELECT @GroupBySQL=GROUP_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
ELSE
	SELECT @GroupBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_GroupBy' AND CODE_CD = @GroupByCode

IF @SortByCode IS NULL OR @SortByCode = ''
	SELECT @SortBySQL=SORT_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
ELSE
	SELECT @SortBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_SortBy' AND CODE_CD = @SortByCode

IF @FilterByCode IS NULL OR @FilterByCode = ''
	SELECT @FilterBySQL=FILTER_TX FROM REPORT_CONFIG WHERE CODE_TX = @ReportConfig
Else
	SELECT @FilterBySQL=DESCRIPTION_TX FROM REF_CODE WHERE DOMAIN_CD = 'Report_FilterBy' AND CODE_CD = @FilterByCode

Select @HeaderTx=HEADER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig
Select @FooterTx=FOOTER_TX from REPORT_CONFIG where CODE_TX = @ReportConfig 
END;

--03282013 ADD WITH and remove "CROSS APPLY"
WITH FSQ (ID, FPC_ID, TYPE_CD, SUB_TYPE_CD, EFFECTIVE_DT, PROCESSED_DT, 
YEAR_NO, PERIOD_NO, COM_RATE_PERCENT_NO, TXN_TYPE_CD, TXN_SUB_TYPE_MEANING_TX, 
COM_AMOUNT_NO, COM_RATE_AMOUNT, PRM_AMOUNT_NO, ISS_AMOUNT_NO, 
FEE_AMOUNT_NO, OTH_AMOUNT_NO, TAX1_AMOUNT_NO, TAX2_AMOUNT_NO, 
TAX3_AMOUNT_NO , TAX4_AMOUNT_NO , TPREM_AMOUNT_NO)
AS 
(
SELECT DISTINCT 
FTRX.ID, FTRX.FPC_ID,
FTRX.TYPE_CD, FTRX.SUB_TYPE_CD, FTRX.EFFECTIVE_DT,	FTRX.PROCESSED_DT,								
AP.YEAR_NO, AP.PERIOD_NO, 	
ISNULL(COM.RATE_PERCENT_NO,0) AS COM_RATE_PERCENT_NO,
CASE WHEN FTRX.SUB_TYPE_CD IN('N','E','R','Z') THEN 'P' ELSE 'CP' END AS TXN_TYPE_CD,
CASE WHEN RC1.MEANING_TX IS NULL THEN FTRX.TYPE_CD ELSE RC1.MEANING_TX END AS TXN_SUB_TYPE_MEANING_TX,	
SUM(CASE WHEN FTRXD.TYPE_CD = 'PRM' THEN ISNULL(COM.AMOUNT_NO,0) ELSE 0 END) AS COM_AMOUNT_NO,
SUM(ISNULL(COM.RATE_AMOUNT_NO,0)) AS COM_RATE_AMOUNT,	
SUM(CASE WHEN FTRXD.TYPE_CD = 'PRM' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS PRM_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'PRM' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS ISS_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'FEE' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS FEE_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'OTH' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS OTH_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'TAX1' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS TAX1_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'TAX2' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS TAX2_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'TAX3' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS TAX3_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD = 'TAX4' THEN FTRXD.AMOUNT_NO ELSE 0 END) AS TAX4_AMOUNT_NO,
SUM(CASE WHEN FTRXD.TYPE_CD IN('PRM','FEE','OTH','TAX1','TAX2','TAX3','TAX4') THEN FTRXD.AMOUNT_NO ELSE 0 END) AS TPREM_AMOUNT_NO
FROM FINANCIAL_REPORT_TXN FTRX 
JOIN ACCOUNTING_PERIOD AP ON FTRX.ACCOUNTING_PERIOD_ID = @AccountPeriodID  AND AP.PURGE_DT IS NULL		
JOIN FINANCIAL_REPORT_TXN_DETAIL FTRXD ON FTRXD.FRT_ID = FTRX.ID AND FTRXD.PURGE_DT IS NULL
LEFT JOIN COMMISSION COM ON COM.FRT_ID = FTRX.ID AND COM.PURGE_DT IS NULL AND (COM.TYPE_CD = @FIL_AGENT_CODE)	
LEFT JOIN REF_CODE RC1 ON RC1.CODE_CD = FTRX.SUB_TYPE_CD AND RC1.DOMAIN_CD = 'FinancialReportTxnSubType' AND RC1.PURGE_DT IS NULL
WHERE FTRX.PURGE_DT IS NULL
--AND FTRX.TYPE_CD IN('C','I','N','R')						--C,I,N,R is all that there are, do I need this ???
AND AP.ID = @AccountPeriodID
AND AP.FINAL_IN = 'Y' 
GROUP BY
FTRX.ID, FTRX.FPC_ID,
FTRX.TYPE_CD, FTRX.SUB_TYPE_CD, FTRX.EFFECTIVE_DT, FTRX.PROCESSED_DT, 
AP.YEAR_NO, AP.PERIOD_NO,		
ISNULL(COM.RATE_PERCENT_NO,0),
CASE WHEN FTRX.SUB_TYPE_CD IN('N','E','R','Z') THEN 'P' ELSE 'CP' END,
CASE WHEN RC1.MEANING_TX IS NULL THEN FTRX.TYPE_CD ELSE RC1.MEANING_TX END
)

INSERT INTO #tmptable
           ([LOAN_TYPE_TX]
           ,[REQUIREDCOVERAGE_TYPE_TX]
           ,[REQUIREDCOVERAGE_CODE_TX]
		   ,[REQUIREDCOVERAGE_GROUP_TX]
           ,[LOAN_NUMBER_TX]
           ,[LOAN_NUMBERSORT_TX]
           ,[OWNER_LASTNAME_TX]
           ,[OWNER_FIRSTNAME_TX]
           ,[OWNER_MIDDLE_INITIAL_TX]
           ,[OWNER_NAME]
           ,[OWNER_LINE1_TX]
           ,[OWNER_LINE2_TX]
           ,[OWNER_STATE_TX]
           ,[OWNER_CITY_TX]
           ,[OWNER_ZIP_TX]
           ,[INS_EXPIRE_DT]
           ,[LOAN_BALANCE_NO]
           ,[COLLATERAL_CODE]
           ,[COLLATERAL_NUMBER_NO]
           ,[LENDER_COLLATERAL_CODE_TX]
           ,[LOAN_BRANCHCODE_TX]
           ,[LOAN_DIVISIONCODE_TX]
           ,[LOAN_DIVISIONMEANING_TX]		
           ,[LOAN_OFFICERCODE_TX]
           ,[LOAN_LENDERCODE_TX]
           ,[LOAN_LENDERNAME_TX]
           ,[INSCOMPANY_NAME_TX]
           ,[INSCOMPANY_POLICY_NO]
           ,[LOAN_CONTRACTTYPECODE]
           ,[LOAN_STATUSCODE]
           ,[COLLATERAL_STATUSCODE]
           ,[REQUIREDCOVERAGE_STATUSCODE]
           ,[REQUIREDCOVERAGE_SUBSTATUSCODE]
           ,[REQUIREDCOVERAGE_INSSTATUSCODE]
           ,[REQUIREDCOVERAGE_INSSUBSTATUSCODE]
		   ,[ACCT-PER]
		   ,[AP_START_DT]
		   ,[AP_END_DT]
		   ,[CARRIER_ID]
		   ,[CARRIER_CODE_TX]		
		   ,[CARRIER_NAME_TX]		
		   ,[TXN_TYPE_CD] 
		   ,[TXN_SUB_TYPE_MEANING_TX]			
		   ,[TXN_DT] 
		   ,[PROCESSED_DT]
		   ,[YEAR_NO] 
		   ,[PERIOD_NO] 
		   ,[ISS_AMOUNT_NO]
		   ,[PRM_AMOUNT_NO] 
		   ,[FEE_AMOUNT_NO] 
		   ,[OTH_AMOUNT_NO] 
		   ,[TAX1_AMOUNT_NO] 
		   ,[TAX2_AMOUNT_NO]
		   ,[TAX3_AMOUNT_NO] 
		   ,[TAX4_AMOUNT_NO]
		   ,[TPREM_AMOUNT_NO] 
		   ,[IPRM_AMOUNT_NO]
		   ,[IFEE_AMOUNT_NO]
		   ,[IOTH_AMOUNT_NO]
		   ,[ITAX1_AMOUNT_NO]
		   ,[ITAX2_AMOUNT_NO]
		   ,[ITAX3_AMOUNT_NO]
		   ,[ITAX4_AMOUNT_NO]
		   ,[ITPREM_AMOUNT_NO]
		   ,[CPRM_AMOUNT_NO]
		   ,[CFEE_AMOUNT_NO]
		   ,[COTH_AMOUNT_NO]
		   ,[CTAX1_AMOUNT_NO]
		   ,[CTAX2_AMOUNT_NO]
		   ,[CTAX3_AMOUNT_NO]
		   ,[CTAX4_AMOUNT_NO]
		   ,[CTPREM_AMOUNT_NO]
           ,[PROPERTY_DESCRIPTION]
           ,[MONTHLY_BILLING_IN]	
           ,[COMM_PCT]
           ,[COMM_AMOUNT_NO]
           ,[ICOMM_AMOUNT_NO]
           ,[CCOMM_AMOUNT_NO]	
           ,[REPORT_SORTBY_TX]
           ,[REPORT_GROUPBY_TX]
           ,[REPORT_FOOTER_TX])

SELECT
	 ISNULL(RC_DIVISION.DESCRIPTION_TX,RC_SC.DESCRIPTION_TX) AS [LOAN_TYPE_TX]
	,ISNULL(RC_COVERAGETYPE.MEANING_TX,'') AS	[REQUIREDCOVERAGE_TYPE_TX]
	,RC.TYPE_CD AS	[REQUIREDCOVERAGE_CODE_TX]
	,RCA_COV.VALUE_TX AS [REQUIREDCOVERAGE_GROUP_TX]
	,L.NUMBER_TX AS	[LOAN_NUMBER_TX]
	,SUBSTRING(@FillerZero, 1, 18 - LEN(L.NUMBER_TX)) + CAST(L.NUMBER_TX AS nvarchar(18)) AS	[LOAN_NUMBERSORT_TX]
	,ISNULL(O.LAST_NAME_TX,'') AS	[OWNER_LASTNAME_TX]
	,ISNULL(O.FIRST_NAME_TX,'') AS	[OWNER_FIRSTNAME_TX]
	,ISNULL(O.MIDDLE_INITIAL_TX,'') AS	[OWNER_MIDDLE_INITIAL_TX]
	,CASE  WHEN O.FIRST_NAME_TX IS NULL THEN O.LAST_NAME_TX ELSE RTRIM(O.LAST_NAME_TX + ', ' + ISNULL(O.FIRST_NAME_TX,'') + ' ' + ISNULL(O.MIDDLE_INITIAL_TX,'')) END AS [OWNER_NAME]
	,ISNULL(AO.LINE_1_TX,'') AS	[OWNER_LINE1_TX]
	,ISNULL(AO.LINE_2_TX,'') AS	[OWNER_LINE2_TX]
	,ISNULL(AO.STATE_PROV_TX,'') AS	[OWNER_STATE_TX]
	,ISNULL(AO.CITY_TX,'') AS	[OWNER_CITY_TX]
	,ISNULL(AO.POSTAL_CODE_TX,'')  AS	[OWNER_ZIP_TX]
	,FPC.EXPIRATION_DT AS	[INS_EXPIRE_DT]
	,C.LOAN_BALANCE_NO AS	[LOAN_BALANCE_NO]
	,CC.CODE_TX AS	[COLLATERAL_CODE]
	,C.COLLATERAL_NUMBER_NO AS	[COLLATERAL_NUMBER_NO]
	,C.LENDER_COLLATERAL_CODE_TX AS	[LENDER_COLLATERAL_CODE_TX]
	,(CASE WHEN L.BRANCH_CODE_TX IS NULL  OR L.BRANCH_CODE_TX = '' THEN 'NOBRANCH' ELSE L.BRANCH_CODE_TX END) AS	[LOAN_BRANCHCODE_TX]
	,CASE WHEN ISNULL(L.DIVISION_CODE_TX,'') = ''
		THEN '0'
		ELSE L.DIVISION_CODE_TX
	 END AS [LOAN_DIVISIONCODE_TX]
	,ISNULL(RC_DIVISION.DESCRIPTION_TX,RC_SC.DESCRIPTION_TX) AS [LOAN_DIVISIONMEANING_TX]			
	,L.OFFICER_CODE_TX AS	[LOAN_OFFICERCODE_TX]
	,LND.CODE_TX AS	[LOAN_LENDERCODE_TX]
	,LND.NAME_TX AS	[LOAN_LENDERNAME_TX]
	,ISNULL(CR.NAME_TX,'') AS	[INSCOMPANY_NAME_TX]		
	,FPC.NUMBER_TX AS	[INSCOMPANY_POLICY_NO]		 
	,L.CONTRACT_TYPE_CD AS	[LOAN_CONTRACTTYPECODE]
	,L.STATUS_CD AS	[LOAN_STATUSCODE]
	,C.STATUS_CD AS	[COLLATERAL_STATUSCODE]
	,RC.STATUS_CD AS	[REQUIREDCOVERAGE_STATUSCODE]
	,RC.SUB_STATUS_CD AS	[REQUIREDCOVERAGE_SUBSTATUSCODE]
	,RC.SUMMARY_STATUS_CD AS	[REQUIREDCOVERAGE_INSSTATUSCODE]
	,RC.SUMMARY_SUB_STATUS_CD AS	[REQUIREDCOVERAGE_INSSUBSTATUSCODE]
	,CAST(ISNULL(FSQ.YEAR_NO,0) AS varchar(4)) + '-' + CASE WHEN ISNULL(FSQ.PERIOD_NO,0) < 10 THEN '0' ELSE '' END + CAST(ISNULL(FSQ.PERIOD_NO,0) AS varchar(2))	
	,@AP_START_DT AS [AP_START_DT]
	,@AP_END_DT AS [AP_END_DT]
	,FPC.CARRIER_ID AS [CARRIER_ID]
	,CR.CODE_TX AS [CARRIER_CODE_TX]		
	,CR.NAME_TX AS [CARRIER_NAME_TX]		
	,FSQ.TXN_TYPE_CD AS [TXN_TYPE_CD]
	,ISNULL(FSQ.TXN_SUB_TYPE_MEANING_TX,'') AS [TXN_SUB_TYPE_MEANING_TX]			
	,FSQ.EFFECTIVE_DT AS [TXN_DT]					
	,FSQ.PROCESSED_DT AS [PROCESSED_DT]
	,FSQ.YEAR_NO AS [YEAR_NO]
	,FSQ.PERIOD_NO AS [PERIOD_NO]
	,FSQ.ISS_AMOUNT_NO AS [ISS_AMOUNT_NO]
	,FSQ.PRM_AMOUNT_NO AS [PRM_AMOUNT_NO]
	,FSQ.FEE_AMOUNT_NO AS [FEE_AMOUNT_NO]
	,FSQ.OTH_AMOUNT_NO AS [OTH_AMOUNT_NO]
	,FSQ.TAX1_AMOUNT_NO AS [TAX1_AMOUNT_NO]
	,FSQ.TAX2_AMOUNT_NO AS [TAX2_AMOUNT_NO]
	,FSQ.TAX3_AMOUNT_NO AS [TAX3_AMOUNT_NO]
	,FSQ.TAX4_AMOUNT_NO AS [TAX4_AMOUNT_NO]
	,FSQ.TPREM_AMOUNT_NO AS [TPER_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.PRM_AMOUNT_NO,0) ELSE 0 END AS [IPRM_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.FEE_AMOUNT_NO,0) ELSE 0 END AS [IFEE_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.OTH_AMOUNT_NO,0) ELSE 0 END AS [IOTH_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.TAX1_AMOUNT_NO,0) ELSE 0 END AS [ITAX1_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.TAX2_AMOUNT_NO,0) ELSE 0 END AS [ITAX2_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.TAX3_AMOUNT_NO,0) ELSE 0 END AS [ITAX3_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.TAX4_AMOUNT_NO,0) ELSE 0 END AS [ITAX4_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.TPREM_AMOUNT_NO,0) ELSE 0 END AS [ITPREM_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.PRM_AMOUNT_NO,0) ELSE 0 END AS [CPRM_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.FEE_AMOUNT_NO,0) ELSE 0 END AS [CFEE_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.OTH_AMOUNT_NO,0) ELSE 0 END AS [COTH_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.TAX1_AMOUNT_NO,0) ELSE 0 END AS [CTAX1_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.TAX2_AMOUNT_NO,0) ELSE 0 END AS [CTAX2_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.TAX3_AMOUNT_NO,0) ELSE 0 END AS [CTAX3_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.TAX4_AMOUNT_NO,0) ELSE 0 END AS [CTAX4_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.TPREM_AMOUNT_NO,0) ELSE 0 END AS [CTPREM_AMOUNT_NO]
	,dbo.fn_GetPropertyDescriptionForReports(C.ID) AS PROPERTY_DESCRIPTION
	,FPC.MONTHLY_BILLING_IN AS [MONTHLY_BILLING_IN]		
	,FSQ.COM_RATE_PERCENT_NO AS [COMM_PCT]
	,ISNULL(FSQ.COM_AMOUNT_NO,0) AS [COMM_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'P' THEN ISNULL(FSQ.COM_AMOUNT_NO,0) ELSE 0 END AS [ICOMM_AMOUNT_NO]
	,CASE WHEN FSQ.TXN_TYPE_CD = 'CP' THEN ISNULL(FSQ.COM_AMOUNT_NO,0) ELSE 0 END AS [CCOMM_AMOUNT_NO]
	,@SortByCode AS [REPORT_SORTBY_TX]
	,@GroupByCode as [REPORT_GROUPBY_TX]
	,REPORT_FOOTER_TX = ''

--03282013 change FROM to use WITH instead of "CROSS APPLY"	
FROM FSQ
JOIN FORCE_PLACED_CERTIFICATE FPC ON FPC.ID = FSQ.FPC_ID

JOIN FORCE_PLACED_CERT_REQUIRED_COVERAGE_RELATE FPCRCR ON FPCRCR.FPC_ID = FPC.ID AND FPCRCR.PURGE_DT IS NULL	
JOIN CARRIER CR on CR.ID = FPC.CARRIER_ID AND CR.PURGE_DT IS NULL		--03142013 remove LEFT
JOIN REQUIRED_COVERAGE RC ON FPCRCR.REQUIRED_COVERAGE_ID = RC.ID AND RC.PURGE_DT IS NULL					 
JOIN LOAN L ON L.ID = FPC.LOAN_ID -- AND ISNULL(L.RECORD_TYPE_CD,'') IN('A', 'D', 'G') AND L.PURGE_DT IS NULL 
JOIN LENDER LND ON LND.ID = L.LENDER_ID AND LND.PURGE_DT IS NULL
JOIN OWNER_LOAN_RELATE OLR ON OLR.LOAN_ID = L.ID AND OLR.PRIMARY_IN = 'Y' AND OLR.PURGE_DT IS NULL
JOIN [OWNER] O ON O.ID = OLR.OWNER_ID AND O.PURGE_DT IS NULL
JOIN PROPERTY P ON RC.PROPERTY_ID = P.ID AND P.PURGE_DT IS NULL
--dab 12162013 eliminate duplcate collateral											
--JOIN COLLATERAL C ON P.ID = C.PROPERTY_ID AND C.PURGE_DT IS NULL AND C.PRIMARY_LOAN_IN = 'Y'
CROSS APPLY (SELECT TOP 1 C1.ID ,C1.LOAN_BALANCE_NO, C1.COLLATERAL_NUMBER_NO, C1.LENDER_COLLATERAL_CODE_TX, C1.STATUS_CD, C1.COLLATERAL_CODE_ID FROM COLLATERAL C1 WHERE P.ID = C1.PROPERTY_ID AND C1.PURGE_DT IS NULL AND C1.PRIMARY_LOAN_IN = 'Y' ORDER BY C1.CREATE_DT DESC) AS C	 										
LEFT JOIN OWNER_ADDRESS AO ON AO.ID = O.ADDRESS_ID
LEFT JOIN REF_CODE RC_COVERAGETYPE ON RC_COVERAGETYPE.DOMAIN_CD = 'Coverage' and RC_COVERAGETYPE.CODE_CD = RC.TYPE_CD 
LEFT JOIN REF_CODE RC_DIVISION on RC_DIVISION.DOMAIN_CD = 'ContractType' and RC_DIVISION.CODE_CD = L.DIVISION_CODE_TX 
LEFT JOIN COLLATERAL_CODE CC ON CC.ID = C.COLLATERAL_CODE_ID AND CC.PURGE_DT IS NULL
left Join REF_CODE RC_SC on RC_SC.DOMAIN_CD = 'SecondaryClassification' AND CC.SECONDARY_CLASS_CD = RC_SC.CODE_CD
left Join REF_CODE_ATTRIBUTE RCA_PROP on RC_SC.DOMAIN_CD = RCA_PROP.DOMAIN_CD and RC_SC.CODE_CD = RCA_PROP.REF_CD and RCA_PROP.ATTRIBUTE_CD = 'PropertyType'
left Join REF_CODE_ATTRIBUTE RCA_COV on RCA_COV.ATTRIBUTE_CD = 'CoverageReportGroup' AND RCA_COV.DOMAIN_CD = 'Coverage' AND RCA_COV.REF_CD = RC.TYPE_CD AND RCA_COV.PURGE_DT IS NULL

WHERE 1=1
AND (CR.AGENCY_ID = @AgencyID OR @AgencyID IS NULL)			
AND (CR.CODE_TX = @CarrierCode OR @CarrierCode IS NULL)		
AND ((ISNULL(AO.STATE_PROV_TX,'') = 'MI' AND CR.CODE_TX = 'ASSURANT' AND @FIL_ASSMI='T') OR @FIL_ASSMI = 'F')
AND FPC.PURGE_DT IS NULL
AND (((ISNULL([TAX1_AMOUNT_NO],0) <> 0 OR ISNULL([TAX2_AMOUNT_NO],0) <> 0 
       OR ISNULL([TAX3_AMOUNT_NO],0) <> 0 OR ISNULL([TAX4_AMOUNT_NO],0) <> 0 ) AND @FIL_HAS_TAX ='T') OR @FIL_HAS_TAX = 'F')
AND ((((ISNULL([OTH_AMOUNT_NO],0) <> 0) OR (ISNULL([TAX2_AMOUNT_NO],0) <> 0)) AND @FIL_HAS_OTHER ='T') OR @FIL_HAS_OTHER = 'F')
AND (((ISNULL([FEE_AMOUNT_NO],0) <> 0) AND @FIL_HAS_FEE ='T') OR @FIL_HAS_FEE = 'F')

If isnull(@FilterBySQL,'') <> '' 
Begin
  Select * into #t1 from #tmptable 
  truncate table #tmptable

  Set @sqlstring = N'Insert into #tmpTable
                     Select * from dbo.#t1 where ' + @FilterBySQL
  --print @sqlstring
  EXECUTE sp_executesql @sqlstring
End  

Set @sqlstring = N'Update #tmpTable Set [REPORT_GROUPBY_TX] = ' + @GroupBySQL
EXECUTE sp_executesql @sqlstring

--SELECT @SortBySQL

Set @sqlstring = N'Update #tmpTable Set [REPORT_SORTBY_TX] = ' + @SortBySQL
EXECUTE sp_executesql @sqlstring

If isnull(@HeaderTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_HEADER_TX] = ' + @HeaderTx
	EXECUTE sp_executesql @sqlstring
End

If isnull(@FooterTx,'') <> '' 
Begin
	Set @sqlstring = N'Update #tmpTable Set [REPORT_FOOTER_TX] = ' + @FooterTx
	EXECUTE sp_executesql @sqlstring
End

IF @Report_History_ID IS NOT NULL
BEGIN
  SELECT @RecordCount = COUNT(*) from #tmptable
    
  UPDATE REPORT_HISTORY
  SET RECORD_COUNT_NO = @RecordCount
  WHERE ID = @Report_History_ID
  
END

SELECT * FROM #tmptable

--SELECT 
--[ACCT-PER], [LOAN_LENDERCODE_TX], [LOAN_LENDERNAME_TX]
--,MONTHLY_BILLING_IN,  LOAN_NUMBER_TX AS LN, COLLATERAL_NUMBER_NO AS CN, INSCOMPANY_POLICY_NO AS POLICY, OWNER_NAME
--,[TXN_TYPE_CD], [TXN_DT], [STATEMENT_DT],[YEAR_NO], [PERIOD_NO], [ISS_AMOUNT_NO], [PRM_AMOUNT_NO], [FEE_AMOUNT_NO], [OTH_AMOUNT_NO], [TAX1_AMOUNT_NO], [TAX2_AMOUNT_NO], [TPREM_AMOUNT_NO]
--,[CARRIER_ID], [INSCOMPANY_NAME_TX] 
--FROM #tmptable
--WHERE (ISNULL([TAX1_AMOUNT_NO],0) <> 0 OR ISNULL([TAX2_AMOUNT_NO],0) <> 0)
----WHERE [ACC_DT] BETWEEN '02/01/2013' AND '03/01/2013'
----WHERE MONTHLY_BILLING_IN = 'Y' --AND ISS_AMOUNT_NO <> (PRM_AMOUNT_NO + FEE_AMOUNT_NO + OTH_AMOUNT_NO + TAX1_AMOUNT_NO + TAX2_AMOUNT_NO)
--ORDER BY [CARRIER_ID], [LOAN_LENDERCODE_TX], INSCOMPANY_POLICY_NO

END

